<div class="container">
    <div class="row">
        <div class="col">
            <img
                src="https://static.wixstatic.com/media/928ecf_fc126d02c4684914ba1394bd05afdef3~mv2.png/v1/fill/w_976,h_194,al_c,lg_1,q_80/928ecf_fc126d02c4684914ba1394bd05afdef3~mv2.webp">
        </div>

    </div>
    <div class="row mt-2">
        <div class="col">
            <p class="row font_8" style="line-height:1.5em; text-align:justify;">A&nbsp;IDC Portugal&nbsp;e a&nbsp;<span
                    style="font-weight:bold;">PSTQB &ndash; Associa&ccedil;&atilde;o Portuguesa de Testes de
                    Software</span>&nbsp;realizam no pr&oacute;ximo dia&nbsp;22&nbsp;de Novembro, no&nbsp;<span
                    style="font-weight:bold;">SANA Malhoa Hotel</span>, em Lisboa, a 7&ordf; edi&ccedil;&atilde;o da
                confer&ecirc;ncia&nbsp;TESTING Portugal.</p>


            <p class="row font_8" style="line-height:1.5em; text-align:justify;">Sob o tema &quot;Test of Things&quot;,
                a
                confer&ecirc;ncia contar&aacute; com interven&ccedil;&otilde;es de reconhecidos especialistas nacionais
                e
                internacionais e com a apresenta&ccedil;&atilde;o de casos de excel&ecirc;ncia.</p>


            <p class="row font_8" style="line-height:1.5em; text-align:justify;">A &aacute;rea de Testes acompanha a
                ind&uacute;stria de software na evolu&ccedil;&atilde;o e adapta&ccedil;&atilde;o a novos paradigmas. A
                confer&ecirc;ncia&nbsp;<span style="font-weight:bold;">TESTING Portugal&nbsp;</span>proporciona
                oportunidade,
                para muitos &uacute;nica, de acesso ao conhecimento disponibilizado por alguns dos internacionalmente
                reconhecidos e conceituados gurus da &aacute;rea de testes.</p>


            <p class="row font_8" style="line-height:1.5em; text-align:justify;">O objetivo da confer&ecirc;ncia
                &eacute;
                permitir
                que profissionais focados na qualidade do seu software possam&nbsp;trocar experi&ecirc;ncias&nbsp;com
                alguns
                dos
                maiores gurus internacionais,&nbsp;conhecer as novas tend&ecirc;ncias&nbsp;na &aacute;rea para melhor se
                prepararem para as acolher e&nbsp;partilhar as suas pr&oacute;prias experi&ecirc;ncias&nbsp;pessoais com
                a
                comunidade.</p>


            <p class="row font_8" style="line-height:1.5em; text-align:justify;">A confer&ecirc;ncia &eacute; dirigida a
                todos
                os
                profissionais envolvidos na&nbsp;Garantia da Qualidade do Software, desde o&nbsp;Software Tester,
                passando
                pelo&nbsp;Test Manager, at&eacute; ao pr&oacute;prio decisor &ndash; CEO e CIO.</p>


            <p class="row font_8" style="line-height:1.5em; text-align:justify;">Estar&atilde;o presentes um variado
                leque
                de
                empresas, representativas do nosso tecido empresarial em todas as suas
                vertentes:&nbsp;geogr&aacute;fica&nbsp;&ndash; de Braga a Lisboa, passando por Coimbra;&nbsp;&aacute;rea
                de
                neg&oacute;cio&nbsp;&ndash; Financeiro, Administra&ccedil;&atilde;o P&uacute;blica,
                Telecomunica&ccedil;&otilde;es e Media, Manufactura e Distribui&ccedil;&atilde;o, e
                outros;dimens&atilde;o&nbsp;(pequenas, m&eacute;dias e grandes empresas); de empresas j&aacute;
                estabelecidas no
                mercado a start-ups.</p>

            <p class="row font_8" style="line-height:1.5em; text-align:justify;">A confer&ecirc;ncia &eacute; aberta
                a&nbsp;clientes
                finais&nbsp;bem como a&nbsp;prestadores de servi&ccedil;os.</p>
        </div>


    </div>
</div>
<hr>