<div class="container">
    <div class="row">
        <h1 style="color:#37B34A; font-size:22px; font-weight: bold">AGENDA</h1>
    </div>
    <div class="row">

        <div class="col-1">
            <p class="font_8">08:30H</p>
        </div>
        <div class="col">
            <p class="font_8">Rece&ccedil;&atilde;o dos convidados</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p class="font_8">09:30H</p>
        </div>
        <div class="col">
            <p class="font_8"><span style="color:rgb(55, 179, 74); font-weight:bold;">ABERTURA</span></p>
            <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Patr&iacute;cia Raquel
                        Alves</span>, Presidente, <span style="font-weight:bold;">PSTQB - Associa&ccedil;&atilde;o
                        Portuguesa de Testes de Software</span></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p class="font_8">10:00H</p>
        </div>
        <div class="col">
            <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">TELLING OUR TESTING
                        STORIES</span></span></p>
            <p class="font_8" style="text-align:justify; line-height:1.5em;">A<span style="font-style:italic;">s
                    software practitioners focusing on technology issues, we often find that our messages to
                    management
                    and the business are either not heard or are misinterpreted. And sometimes we do not hear the
                    messages that they need us to hear. Isabel Evans examines our natural ability to tell stories
                    and
                    how everyone&rsquo;s built-in receptiveness to narratives will help you communicate productively
                    about testing and quality.</span></p>
            <p class="font_8" style="text-align:justify; line-height:1.5em;"><span style="font-style:italic;"><span
                        style="font-weight:bold;">Isabel</span> looks at how we can tell our testing stories in a
                    way
                    that is appealing to our audience. That means thinking about the role of oral, written, and
                    visual
                    representations of testing stories and practicing communicating through the analogies of novels,
                    short stories, picture books, poems, and songs. Because we will need a variety of story formats
                    for
                    our testing messages to work best, Isabel shares how to adapt testing stories to different
                    audiences. Learn how we can better listen to other people&rsquo;s stories and adapt our
                    listening
                    style to different storytellers.</span></p>
            <p class="font_8"><span style="font-weight:bold;"><span style="color:#B7121B;"><span
                            style="font-style:italic;">Keynote speaker</span></span> - Isabel
                    Evans,&nbsp;</span>Independent quality and testing consultant</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p class="font_8">10:45H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:rgb(55, 179, 74); font-weight:bold;">CONTINUIDADE NEG&Oacute;CIO
                        &amp;
                        QA: LIGA&Ccedil;&Atilde;O PERFEITA!</span></p>
            </div>
            <div>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">Planeia, executa e a sua
                        organiza&ccedil;&atilde;o atinge o sucesso esperado; entretanto um evento inesperado acontece e
                        causa disrup&ccedil;&atilde;o com fortes impactos operacionais, financeiros e de
                        reputa&ccedil;&atilde;o - o processo de Gest&atilde;o da Continuidade de Neg&oacute;cio prepara
                        as
                        organiza&ccedil;&otilde;es para evitar ou mitigar esses impactos.</span></p>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">Enquanto especialistas na
                        &aacute;rea de Qualidade, habitualmente colocamos o nosso foco garantia de funcionalidade das
                        solu&ccedil;&otilde;es de TIs necess&aacute;rias ao suporte do neg&oacute;cio&hellip; desafio:
                        ir um
                        pouco mais al&eacute;m e ajudar na garantia de continuidade do neg&oacute;cio: como e quando o
                        podemos fazer?</span></p>
            </div>
            <div>
                <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Eduardo Amaral</span>, QM
                        Retail Market Manager,&nbsp;<span style="font-weight:bold;">Noesis</span></span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">11:15H</p>
        </div>
        <div class="col">
            <p class="font_8"><span style="color:#19305B;"><span style="font-weight:bold;">Coffee Break&nbsp;&amp;
                        Visita &agrave; &Aacute;rea de Exposi&ccedil;&atilde;o</span></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">11:45H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:rgb(55, 179, 74); font-weight:bold;">FROM IDEAS TO
                        PRODUCTION</span>
                </p>
            </div>
            <div>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">Bits to increase overall
                        quality. Final quality comes as a result of chain of well executed phases from conception to
                        quality
                        gate. Some key areas can be compromised if the right environment is not available or the effort
                        is
                        wasted in redundant or manual activities.&nbsp;<br />
                        We will give a quick look into tools and processes that can help avoid this situation.</span>
                </p>
            </div>
            <div>
                <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Antonio D&iacute;az,
                        </span>Solution Accounts Director Mainframe and Continuous Delivery<span
                            style="font-weight:bold;">,&nbsp;CA Technologies</span></span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">12:15H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:rgb(55, 179, 74); font-weight:bold;">A CULTURE TRANSFORMATION, FROM
                        WATERFALL TO DEVOPS, PASSING THROUGH AGILE.</span></p>
            </div>
            <div>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">I will discuss the
                        challenges
                        beyond a culture shift on large corporates from a traditional Project Management Waterfall
                        approach
                        to Agile/Lean processing, achieving a full DevOps change.</span></p>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">Transforming software
                        solutions delivery with DevOps requires radical adoptions on the disruptive implementation of
                        enterprise Big Data and Data Science solutions. New open source technologies underlay a paradigm
                        shift on technical architectures delivering new principles of Continuous Integration, Deployment
                        and
                        Delivery achieving rapid delivery of high-quality enterprise software based on Microservices and
                        Containerisation.</span></p>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">Such solutions produce
                        high
                        complex, decentralised distributed solutions that offer genuine challenges for test
                        frameworks.&nbsp;</span></p>
            </div>
            <div>
                <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Raul Coutinho Garrido,
                        </span>CTO &amp; Founder<span style="font-weight:bold;">,&nbsp;Marionete
                            UK</span>&nbsp;(convidado
                        pela&nbsp;<span style="font-weight:bold;">WinTrust</span>)</span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">12:35H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">O CICLO DE VIDA DE UMA
                            APLICA&Ccedil;&Atilde;O&nbsp;MOBILE</span></span></p>
            </div>
            <div>
                <p class="font_8" style="text-align:justify;"><span style="font-style:italic;">Nos dias de hoje, as
                        aplica&ccedil;&otilde;es m&oacute;veis s&atilde;o a cara das empresas e dos seus
                        neg&oacute;cios.<br />
                        O sucesso ou n&atilde;o dos mesmos &eacute; consequ&ecirc;ncia da experi&ecirc;ncia do
                        utilizador
                        destas aplica&ccedil;&otilde;es.<br />
                        Garantir uma experi&ecirc;ncia de utilizador &uacute;nica e um rating de 5 estrelas de uma
                        aplica&ccedil;&atilde;o m&oacute;vel &eacute; imprescind&iacute;vel para atingir este
                        sucesso.&nbsp;</span></p>
            </div>
            <div>
                <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Nuno
                            Gon&ccedil;alves</span>,&nbsp;Software Business Development Manager,<span
                            style="font-weight:bold;">&nbsp;Hewlett Packard Enterprise Portugal</span></span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">13:05H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#19305B;"><span
                            style="font-weight:bold;">Almo&ccedil;o</span></span>
                </p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">14:30H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">BLUNDERS IN TEST
                            AUTOMATION</span></span></p>
            </div>
            <div>
                <p class="font_8" style="text-align:justify; line-height:1.5em;"><span
                        style="font-style:italic;">Blunders
                        are mistakes caused by ignorance or carelessness. In test automation, a common blunder is
                        thinking
                        that manual testing is the same as automated testing. Find out what blunders you may be making
                        in
                        your automation, and how to avoid ending up with inefficient automation, high maintenance costs,
                        and
                        wasted effort.</span></p>
                <p class="font_8" style="text-align:justify; line-height:1.5em;"><span style="font-style:italic;"><span
                            style="font-weight:bold;">Dorothy Graham</span> takes us on a tour of these blunders,
                        including:
                        the Stable-Application Myth (you can&rsquo;t start automating until the application is stable),
                        Inside-the-Box Thinking (automating only the obvious test execution), the Project/Non-Project
                        Dilemma (failing to treat automation like a project by not funding or resourcing it, and
                        treating
                        automation as only a project). Other blunders include Testing-Tools-Test, Silver Bullet,
                        Automating
                        the Wrong Thing, Who Needs GPS, How Hard Can It Be, and Isolationism. Different skills,
                        approaches,
                        and objectives are needed or you&rsquo;ll end up with inefficient automation, high maintenance
                        costs, and wasted effort. Join Dot to discover how you can avoid these common blunders and
                        achieve
                        valuable test automation.</span></p>
            </div>
            <div>
                <p class="font_8"><span style="font-weight:bold;"><span style="color:#B7121B;"><span
                                style="font-style:italic;">Keynote speaker</span></span> - Dorothy
                        Graham,&nbsp;</span>Software Tester</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">15:15H</p>
        </div>
        <div class="col">

            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">BLUNDERS IN TEST
                            AUTOMATION</span></span></p>
            </div>
            <div>
                <p class="font_8" style="line-height:1.5em; text-align:justify;"><span style="color:#19305B;"><span
                            style="font-weight:bold;">Convidados</span></span></p>
                <ul class="font_8" style="font-weight:bold; line-height:1.5em; text-align:justify;">
                    <li>
                        <p class="font_8" style="line-height:1.5em; text-align:justify;"><span
                                style="font-weight:bold;">Dorothy
                                Graham</span>, Software Tester</p>
                    </li>
                    <li>
                        <p class="font_8" style="line-height:1.5em; text-align:justify;"><span
                                style="font-weight:bold;">Ken
                                Finnegan</span>, Chief Technology Adviser,&nbsp;<span style="font-weight:bold;">IDA
                                (Industrial Development Authority) Technology Ireland</span></p>
                    </li>
                    <li>
                        <p class="font_8" style="line-height:1.5em; text-align:justify;"><span
                                style="font-weight:bold;">Joel
                                Oliveira</span>, Vice-Presidente,&nbsp;<span style="font-weight:bold;">PSTQB &ndash;
                                Associa&ccedil;&atilde;o Portuguesa de Testes de
                                Software</span></p>
                    </li>
                    <li>
                        <p class="font_8" style="line-height:1.5em; text-align:justify;"><span
                                style="font-weight:bold;">Gabriel
                                Coimbra</span>, Country Manager,&nbsp;<span style="font-weight:bold;">IDC
                                Portugal</span></p>
                    </li>
                </ul>
                <p class="font_8" style="line-height:1.5em; text-align:justify;">&nbsp;</p>
                <p class="font_8" style="line-height:1.5em; text-align:justify;"><span style="color:#19305B;"><span
                            style="font-weight:bold;">Modera&ccedil;&atilde;o</span></span></p>
                <ul class="font_8" style="color:rgb(0, 0, 0); font-weight:bold; text-align:justify;">
                    <li>
                        <p class="font_8" style="line-height:1.5em; text-align:justify;"><span
                                style="color:#000000;"><span style="font-weight:bold;">Pedro Oliveira</span>,
                                Diretor,<span style="font-weight:bold;"> Exame Inform&aacute;tica</span></span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">16:10H</p>
        </div>
        <div class="col">

            <div>
                <p class="font_8"><span style="color:#19305B;"><span style="font-weight:bold;">Coffee Break&nbsp;&amp;
                            Visita &agrave; &Aacute;rea de Exposi&ccedil;&atilde;o</span></span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">16:45H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">Call for
                            Speakers:</span></span><span style="color:#000000;">&nbsp;DevOps: How does it influence the
                        professional testers&#39; career?</span></p>
                <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Filipe Nuno
                            Carlos</span>,
                        Managing Partner,&nbsp;<span style="font-weight:bold;">WinTrust</span></span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">17:05H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">Call for
                            Speakers:&nbsp;</span></span><span style="color:#000000;">Test Everything: Software,
                        Hardware
                        and Integrations<br />
                        <span style="font-weight:bold;">Lara Pellegrino</span>, Respons&aacute;vel de &Aacute;rea de
                        Testes,<span style="font-weight:bold;">&nbsp;Novabase<br />
                            Lu&iacute;s Pires Pereira</span>, BI Consultant,<span
                            style="font-weight:bold;">&nbsp;Novabase</span></span></p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">17:25H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">Call for
                            Speakers:</span></span><span style="color:#000000;">&nbsp;When Smart Meters are the Things
                        to
                        Test<br />
                        <span style="font-weight:bold;">Helder Sousa</span>, Technical Manager,<span
                            style="font-weight:bold;">&nbsp;Critical Software</span></span></p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">17:45H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">Sorteio / Entrega de
                            pr&eacute;mio</span></span></p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">17:50H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span style="font-weight:bold;">INTERNET OF THINGS:
                            GLOBAL
                            TRENDS AND INNOVATION IN TECHNOLOGY</span></span></p>
            </div>
            <div>
                <p class="font_8" style="text-align:justify; line-height:1.5em;"><span
                        style="font-style:italic;">Technology
                        has reached a point of inflection where it is about to explode pervasively into all industries.
                        Pharmacuitcal, Engineering, Agricultural, Environmental etc are witnessing dramatic shifts due
                        to
                        technology innovation and are underpinned by technology day by day. &nbsp;&nbsp;</span></p>
                <p class="font_8" style="text-align:justify; line-height:1.5em;"><span style="font-style:italic;"><span
                            style="font-weight:bold;">Ken</span> will present on global trends and innovation in
                        technology
                        with emphasis on cross industry convergence. For example the internet of things is starting to
                        be
                        impletmented in organisations, established technology companies are providing IoT infrastructure
                        and
                        technology solutions however the beneficaries of IoT solutions are only at the beginning of
                        their
                        journey in understaning what it means to them, how to implement and how they will benefit. Ken
                        will
                        provide an overview of what he is witnessiong from an industry perspective and the type of
                        journey
                        companies are on.&nbsp;</span></p>
                <p class="font_8" style="text-align:justify; line-height:1.5em;"><span style="font-style:italic;">He
                        will
                        also provide some overviews of the quality/assurance approach for IoT (and development
                        apporaches)
                        and what may be required in the future. &nbsp;</span></p>
            </div>
            <div>
                <p class="font_8"><span style="font-weight:bold;"><span style="color:#B7121B;"><span
                                style="font-style:italic;">Keynote speaker</span></span> - Ken
                        Finnegan,&nbsp;</span>Chief
                    Technology Adviser, IDA Ireland</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <p class="font_8">18:25H</p>
        </div>
        <div class="col">
            <div>
                <p class="font_8"><span style="color:#37B34A;"><span
                            style="font-weight:bold;">ENCERRAMENTO</span></span>
                </p>
            </div>
            <div>
                <p class="font_8"><span style="color:#000000;"><span style="font-weight:bold;">Joel Filipe
                            Oliveira</span>,
                        Vice - Presidente, <span style="font-weight:bold;">PSTQB - Associa&ccedil;&atilde;o Portuguesa
                            de
                            Testes de Software</span></span></p>
            </div>
        </div>
    </div>

</div>

<hr>