#clockdiv{
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
