{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
    Are you a woman interested in learning how to build web applications with the latest technologies?
    We have good news for you: We are holding a workshop for beginners!
    It will take place during JS Unconf on <b>Saturday, March 25th, 2017 at BMK school Hamburg</b>.
  </p>
  
  <p>
    During the workshop you will build and deploy your very first <b>Angular Web Application!</b>
    Angular is an open-source platform for building web application, developed by Google and the community.
    It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even robots!
  </p>
  <p>
    To participate in the workshop you'll need some basic knowledge in web development:
    HTML, CSS and basic JavaScript or any other programming language.
    If you're a total beginner, no problem. Here are some <a href="{{ resourcesUrl }}">resources</a> to catch up.
  </p>
  <p>
    The workshop is <b>free of charge</b>. Just fill out the <a href="{{ site.data.jsunconf.applicationForm }}" target="_blank">application form.</a>
  </p>
  
  <p>
    For more information about ngGirls @ JS Unconf <a href="{{ faqUrl }}">check out the FAQ</a>
  </p>
</div>