{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p><a href="http://2017.jsunconf.eu/" target="_blank">JSUnconf</a> is an Unconference.<br />
  That means the schedule is voted by the participants.</p>
  <p>Our plan is to offer an initial session on <b>Saturday, March 25th 2017</b>.<br /> 
  In this session we want to give you the most important information to get through our tutorial.<br />
  Afterwards we will offer you the help of our volunteer mentors during <u><b>office hours</b></u>, where you can get help with the tutorial.</p>
  <p>You are free to go through the tutorial at our office hours place or during the sessions and breaks of the conference.</p>
   <h7><b>Probable schedule</b></h7>
   <ul>
                  <li><b>12:00</b> - Welcome and intro to Angular</li>
                  <li><b>12:30</b> - Workshop begins!</li>
                  <li><b>13:15</b> - Lunch break</li>
                  <li><b>14:30</b> - Office Hours</li>
                  <li><b>15:45</b> - Coffee Break</li>
                  <li><b>16:30</b> - Office Hours</li>
                  <li><b>17:30</b> - Goodbye</li>
                </ul>
</div>
<p><a href="http://2017.jsunconf.eu/" target="_blank">JSUnconf Website</a></p>