<!-- Begin Organizing Team Section -->
<section id="organizing-team" class="rockstar-speakers image-section parallax"
         style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.organizingTeamImage }});">
  <div class="overlay solid-overlay"></div>
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
      <h3 id="organizing-team-title">Meet the Mentors</h3>

      {% assign animationDelay = 0 %}
      {% for member in site.data.jsunconf.mentors %}
      {% if forloop.index < 4 %}
        {% assign colWidth = 4 %}
      {% else %}
        {% assign colWidth = 3 %}
      {% endif %}
      {% assign memberImage = site.baseurl | append: '/img/jsunconf-mentors/' | append: member.thumbnailUrl %}
      <div class="col-md-{{ colWidth }} col-xs-6 rockstar-speakers-item animated hiding"
           data-animation="fadeInUp"
           data-delay="{{ animationDelay }}">
        <div class="lily-head" data-toggle="modal" data-target="#mentorDetailJsunconf-{{ member.id }}">
          <div class="rockstar-speaker">
            <div class="flow-img img-circle rockstar-speaker-img"
                 style="background-image: url({{ memberImage }})"></div>
            <div class="name">{{ member.name }} {{ member.surname }}</div>
            <div class="sub">{{ member.company }}</div>
            <br />
          </div>
        </div>
      </div>

      {% assign animationDelay = animationDelay | plus:500 %}
      {% assign check = forloop.index | modulo:2 %}
      {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
      {% endfor %}

    </div>
    <!--<h6 style="float: right; padding-right: 30px">and others...</h6>-->
  </div>
</section>
<!-- End Organizing Team Section -->