<!-- Begin Latest News Section -->
<section style="padding-top: 5px; text-align: right;min-height: initial;">
    <small style="font-size: 10px">photo: "Landungsbrücken" of Hamburg and cruise ship „Queen Mary 2“(cc-by-sa 4.0 	
<a href="https://commons.wikimedia.org/wiki/File:Hamburg,_Hafen,_Kreuzfahrtschiff_-Queen_Mary_2-_--_2016_--_3159-65.jpg">Dietmar Rabich / Wikimedia Commons </a>)
</small>

</section>
<section id="latest-news" class="latest-news">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <article class="row">
        <div class="col-sm-2">
          <h4 class="latest-news-title">{{ site.latestNewsTitle }}</h4>
        </div>
        {% for post in site.data.jsunconf.posts limit:2 %}
        <div class="col-sm-10 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
          <h6>{{ post.title }}</h6>
          {{ post.content }}
        </div>
        {% endfor %}
      </article>
    </div>
  </div>
</section>
<!-- End Latest News Section -->