{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
    Are you a woman interested in learning how to build web applications with the latest technologies?
    We have good news for you: We are holding a one-day workshop for beginners!
    It will take place on <b>Thursday, November 2nd, 2017 at <a href="https://www.humboldtsaal.de/">Humboldtsaal</a> (Humboldtstraße 2, 79098 Freiburg)</b>.
  </p>
  <p>
    We believe that the IT industry will greatly benefit from bringing more women into technology.
    We want to give you an opportunity to learn how to program and become a programmer.
  </p>
  <!--  <p>
      <b>Angular 2</b> is an open-source platform for building web application, developed by Google and the community.
      It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even Arduino!
      <a href="{{ AngularUrl }}">Why we love Angular 2</a>
    </p>-->
  <p>
    During the workshop you will build and deploy your very first <b>Angular Web Application!</b>
    Angular is an open-source platform for building web application, developed by Google and the community.
    It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even robots!
    <!--
        Then, a few days later, you will join the Angular community at <b>AngularUP international conference!</b>
    -->
  </p>
  <p>
    To participate in the workshop you'll need some basic knowledge in web development:
    HTML, CSS and basic JavaScript or any other programming language.
    If you're a total beginner, here are some <a href="{{ resourcesUrl }}">resources</a> to catch up.
  </p>
  <p>
    The workshop is <b>free of charge</b>. Just fill out the <a href="{{ site.data.freiburg.applicationForm }}" target="_blank">application form.</a>
  </p>
  <p>
    Don’t wait too long - <b>you can apply for a pass only until October, 22nd, 2017! </b>
    <!--<b>Applications closed on January 29th, 2017.</b>-->
    <br>You are welcome to join the <a href="http://www.meetup.com/ngGirls/" target="_blank">ngGirls meetup group</a> to get informed about future events.
  </p>
  <p>
    For more information about ngGirls @ Freiburg <a href="{{ faqUrl }}">check out the FAQ</a>
  </p>
</div>
