{% assign sponsorsUrl = site.baseurl | append: site.c4sponsorsUrl %}

<div class="post-body">
    <p>Você será muito bem-vindo! Veja como pode ajudar:</p>
    <ul>
        <li>
            <b>Treinador(a)</b> - o seu trabalho fará uma grande diferença no evento! Como treinador(a), você ensinará as mulheres a programar sua primeira aplicação em Angular. Se você possuir conhecimentos básicos em Angular poderá se tornar um treinador(a)
            e ajudar no evento ngGirls! <!--  Pra isso, é só clicar em se <a href="https://goo.gl/forms/45M8PjGu98avEMTy2" target="_blank">inscrever como treinador(a).</a> -->
        </li>
        <li>
            <b>Patrocinador</b> - se você tem uma empresa e tenha interesse em patrocinar o evento ngGirls Rio, <a href="mailto:nggirlsrio@gmail.com">entre em contato</a> com a gente para saber mais!
        </li>
        <li>
            <b>Outro(a)</b> - Existem muitas outras maneiras de nos ajudar. Vamos adorar suas ideias e sugestões e/ou atribuir-lhe algumas tarefas. Você pode nos ajudar na divulgação do evento ou na organização.
        </li>
    </ul>
    <p>Caso tenha alguma dúvida, <a href="mailto:nggirlsrio@gmail.com">entre em contato!</a></p>
</div>