<div class="post-body">
    <p> Nós acreditamos que o mercado de TI irá se beneficiar muito ao trazer mais mulheres para a área de tecnologia. Por conta
        disso e também em acreditar na diversidade e na igualdade de gênero, estamos oferecendo uma oportunidade para as
        mulheres aprenderem a programar e se tornarem programadoras.
    </p>
    <p> O ngGirls é um workshop gratuito que tem o objetivo de ensinar mulheres a programar em Angular, uma plataforma open-source
        para a construção de aplicativos web, desenvolvida pelo Google. Ela oferece várias ferramentas para criar facilmente
        um website, plataforma digital, programas de computador e aplicativos para dispositivos móveis.
    </p>
    <p> Para participar do workshop você precisa ter noção ou conhecimento básico em HTML, CSS e Javascript ou qualquer outra
        linguagem de programação. Se você é iniciante e não conhece os itens listados acima, não tem problema. Vamos te oferecer
        total suporte e apoio para você conseguir desenvolver sua primeira aplicação em Angular.
    </p>
    <p> O workshop é 100% gratuito e irá acontecer no dia 13 de janeiro de 2018 das 9h às 18h na Stone Pagamentos - Av. General
        Justo, 375 - Centro, Rio de Janeiro.
    </p>
    <p> Para saber como chegar,
        <a target="_blank" href="https://www.google.com.br/maps/dir/''/stone+pagamentos/@-22.9071552,-43.2390236,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x9981e7223da871:0x7cb65dab6ce22bc2!2m2!1d-43.1689832!2d-22.9071705">clique aqui</a>.
    </p>
    <p>
        Para mais informações sobre o ngGirls @ Rio
        <a href="{{ faqUrl }}">consulte o nosso FAQ.</a>
    </p>
</div>