{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl = site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
    <p>
        Você, mulher, está interessada em aprender a construir aplicativos para a web usando as tecnologias mais usadas do mercado? Temos uma boa notícia para você: estamos realizando uma oficina de um dia para iniciantes e ela irá acontecer num <strong>sábado, dia 13 de janeiro de 2018, no Rio de Janeiro! </strong>
    </p>
    <p>
        Nós acreditamos que o mercado de TI irá se beneficiar muito ao trazer mais mulheres para a área de tecnologia. Por conta disso e também em acreditar na diversidade e na igualdade de gênero, estamos oferecendo uma oportunidade para as mulheres aprenderem
        a programar e se tornarem programadoras.</p>
    <p>
        Durante o workshop você irá aprender a programar a sua primeira <strong>aplicação web em Angular!</strong>. Angular é uma plataforma open-source para a construção de aplicativos web, desenvolvida pelo Google. Ela oferece várias ferramentas para
        criar facilmente um website, plataforma digital, programas de computador e aplicativos para dispositivos móveis.
    </p>
    <p>
        Para participar do workshop você precisa ter noção ou conhecimento básico em HTML, CSS e Javascript ou qualquer outra linguagem de programação. Se você iniciante e não conhece os itens listados acima, não tem problema. Vamos te oferecer total suporte
        e apoio para você conseguir desenvolver sua primeira aplicação em Angular.
    </p>
    <p>
        O workshop é <strong>100% gratuito</strong>. Para participar, <a href="{{ site.data.rio.applicationForm }}" target="_blank">preencha este formulário.</a>
    </p>
    <p>
        As inscrições vão até <strong>30 de dezembro de 2017!</strong> Fique atenta!
    </p>
    <p>
        Para mais informações sobre o ngGirls @ Rio <a href="{{ faqUrl }}">consulte o nosso FAQ.</a>
    </p>
</div>