{% assign faqUrl = site.baseurl | append: '/faq' %} {% assign AngularUrl = site.baseurl | append: '/faq' %} {% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
    <h7><b>Programação do evento</b></h7>
    <ul>
        <li><b>09:00</b> - credenciamento & café da manhã</li>
        <li><b>09:30</b> - abertura & explicação sobre o evento</li>
        <li><b>09:45</b> - talk de empresa patrocinadora</li>
        <li><b>10:00</b> - início do tutorial</li>
        <li><b>12:00</b> - almoço</li>
        <li><b>13:00</b> - reinício do tutorial</li>
        <li><b>18:00</b> - agradecimentos & apresentação de alguns projetos & foto oficial</li>
        <li><b>18:15</b> - sorteios</li>
        <li><b>18:30</b> - encerramento</li>
    </ul>
</div>