<!-- Begin Hero Section -->
<section id="home" class="top-section-hero top-section image-section parallax rio" style="background-image: url('{{ site.baseurl }}/img/sections-background/rio.jpg'); box-shadow: none;">
    {% include navigation.html %}
    <div class="content-wrapper">
        <div class="jumbotron">
            <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                <div class="logo logo-big"></div>
                <div class="logo logo-name"></div>
                <!--{% assign heroText = site.heroTitle %}-->
                <!--<h1>{{ heroText }}<span class="hidden-xs"></span></h1>-->
                <p>{{ site.data.rio.eventDate }}</p>
                <p>Inscrições encerradas!</p>
                <!-- <a href="{{site.data.rio.applicationForm}}" stXyle="background-color: #e23236 !important" target="_blank" class="btn btn-primary waves-effect waves-button waves-light waves-float">Inscreva-se como participante</a> -->
                <!-- <a href="{{site.data.rio.mentorsForm}}" target="_blank" styXgit le="background-color: #e23236 !important" class="btn btn-primary waves-effect waves-button waves-light waves-float">Inscreva-se como treinador(a)</a> -->
            </div>
        </div>
        <a href="#about" class="explore">
            <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
        </a>
    </div>
</section>
<!-- End Hero Section -->

<script>
    var local = "http://127.0.0.1:4000/rio/";
    var url = "http://ng-girls.org/rio/";
    if(location.href == url || location.href == local) { 
        document.getElementById('menu').style.display = 'none';
    }
</script>
