---
layout: default
title: ngGirls @ AngularConnect 2018
permalink: /angular-connect2018/
image: london-excel.jpg
modal: all
---

{% include angular-connect2018/angular-connect2018-hero.html %}

{% include angular-connect2018/angular-connect2018-main-header.html %}

{% include angular-connect2018/angular-connect2018-newsfeed.html %}

{% include angular-connect2018/angular-connect2018-description.html %}

{% include organizing-team.html %}

{% include angular-connect2018/angular-connect2018-partners.html %}
