---
layout: default
permalink: /
---

 {% include hero.html %}

 {% include about.html %}

 {% include statistic.html %}

 {% include strategy.html %}

 {% comment %}
 {% include latest-news.html %}
 {% endcomment %}

 {% include rockstar-speakers.html %}

 {% include location-map.html %}

 {% comment %}
 {% include venue.html %}
 {% endcomment %}
 
 {% include twitter-feed.html %}

 {% include partners.html %}

 {% comment %}
 {% include subscribe.html %}

 {% include tickets.html %}

 {% include tickets-2.html %}
 {% endcomment %}
