<!-- Begin Testimonials -->

<section id="testimonials" class="testimonials">
    <div class="content-wrapper text-left">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <p>We had our first MenderCon in 2020 and the experience was something we will never forget! 
                    It quickly solidified in our hearts that we had to make this a recurring event. Don't believe
                    us? Here is what last year's attendees had to say!</p>
            </div>
            <div>
                <h5>The Stats</h5>
                <p>95.9% of attendees were happy they came.</p>
                <p>100% of attendees said they were likely to come back. (!!!)</p>
                <p>91.6% of attendees would recommend this event to their peers.</p>
                <p></p>
            </div>
            <div>
                <h5>What People Are Saying</h5>
                <p>The social rooms were quite interesting. I got to talk to a couple of folks I didn't know.</p>
                <p>Great discussions</p>
                <p>Great small group conversations resulting in ideas that I was able to implement with my team.</p>
                <p>I found interesting discussions. Price was unbeatable and it made me participate because I payed 
                   myself and did not need to go thru the bureaucracy getting funding from my company. I really liked 
                   the virtual format which made it possible for me to attend.</p>
                <p>It was my first open space conference and as most people (I assume) I was skeptical about the format 
                   but was surprised how well it worked.</p>
                <p>Streaming was good. Subject interesting and people awesome! Loved the followup mail we received 
                   with all the links!</p>
                <p>Smooth technology</p>
                <p>I learned a lot and was able to personally connect with some of my heroes in the industry</p>
                <p>I really enjoyed the open-space format. I got to meet a lot of really smart and awesome developers 
                   and gain some insights into the legacy code I'm actively working with.</p>
                <p>I think Hopin, the tool you used had a lot of benefits. I loved being able to wonder around and meet 
                   people in different rooms. I also liked the 5 minute meetups with random people. There were some good 
                   sessions and I loved the topic.</p>
                <p>Loved networking and keynote</p>
                <p>Thank you for your work. Your podcast and open meetings have given me a community I did not know I was 
                   missing because I mainly see myself as an innovator, but with a big love and respect for decades old 
                   software still being really valuable.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://corgibytes.us7.list-manage.com/subscribe/post?u=f432ac129b79e0f4db8d37757&amp;id=41767a8421" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to get updates about MenderCon 2021</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f432ac129b79e0f4db8d37757_41767a8421" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
