<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-md-3 animated hiding" data-animation="fadeInLeft" data-delay="500"><img class="img-responsive" src="../img/hackathon-0.png" alt="Hackathon"></div>
            <div class="col-md-9 animated hiding" data-animation="fadeInRight" data-delay="500">
                <h3>Android Wear Hackathon</h3>
                <p class="hackathon-details text-left">
                    The front doors will be locked because this is after hours, please park behind the building and come to the door nearest the parking lot.<br><br>
                    Our last meeting showed that there was a lot of interest in Android Wear so we decided to put on an Android Wear Hackathon to see what you could come up with! We realize that this is pretty short notice so we hope you can help us spread the word! There will be pizza, prizes and a great group of geeks to spend the evening coding with! Even if you don't have an app idea come on in and lend a hand to someone else or maybe find inspiration once you're here!
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Hackathon Section -->
