<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <!-- <h5>{{ about.title }}</h5> -->
                        <!-- <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}"> -->
                        <p>{{ about.text }}</p>
                    </div>

        <!-- Noscript content for added SEO -->
         <noscript><a href="https://www.eventbrite.ca/e/security-bsides-tickets-104057223958" rel="noopener noreferrer" target="_blank"></noscript>
            <!-- You can customize this button any way you like -->
            <button id="eventbrite-widget-modal-trigger-104057223958" type="button">Buy Tickets</button>
            <noscript></a>Buy Tickets on Eventbrite</noscript>

            <script src="https://www.eventbrite.ca/static/widgets/eb_widgets.js%22%3E</script>

            <script type="text/javascript">
               var exampleCallback = function() {
                  console.log('Order complete!');
               };

               window.EBWidgets.createWidget({
                  widgetType: 'checkout',
                  eventId: '104057223958',
                  modal: true,
                  modalTriggerElementId: 'eventbrite-widget-modal-trigger-104057223958',
                  onOrderComplete: exampleCallback
               });
            </script>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
