<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About {{site.eventName}}</h3>
            <div class="row about-details">
                <div class="col-md-4 col-sm-4 col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                        <h5>Conference</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/conference.jpg" height="128" width="128" alt="Conference">
                        <p>The biggest Google related event in the country carefully crafted for you by GDG community! Awesome speakers and lot's of fun!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                        <h5>Workshops</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/workshop.jpg" height="128" width="128" alt="Workshops">
                        <p>Full-day of workshops, hands-on experience, hacking and debugging. Come and tame your favourite technology!</p>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                        <h5>Hackathon</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/hackathon.jpg" height="128" width="128" alt="Hackathons">
                        <p>Full-day free-style hackaton! Want some real teambuilding on friday? Grab your team and join our hackathon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
