<!-- Begin Blog-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.blogTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                {% for post in site.posts %}
                    <article class="row post">
                        <a href="{{ site.baseurl | append: post.url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>
                        <div class="post-header">
                            <div class="published col-md-6 col-xs-6 pull-left">
                                <span class="caption">Posted:</span>
                                <span class="publish-date" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span>
                            </div>
                            <div class="share col-md-6 col-xs-6 pull-right">
                                <ul class="social-links">
                                    {% assign postUrl = site.url | append: site.baseurl | append: post.url %} 
                                    <li>
                                        <a href="#" onclick="window.open('https://plus.google.com/share?url={{ postUrl }}', 'newwindow', 'width=600, height=500'); return false;">
                                            <svg class="icon icon-google-plus" viewBox="0 0 30 32">
                                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="window.open('https://twitter.com/home?status={{ postUrl }}', 'newwindow', 'width=600, height=250'); return false;">
                                            <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ postUrl }}', 'newwindow', 'width=600, height=500'); return false;">
                                            <svg class="icon icon-facebook" viewBox="0 0 30 32">
                                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="post-body">{{ post.content | strip_html | truncate: 350 }} <a href="{{ site.baseurl | append: post.url }}">continue reading</a></p>
                    </article>
                {% endfor %} 

                {% if paginator.total_pages > 1 %}
                <div class="row">
                    <div class="pagination">
                        {% if paginator.previous_page %}
                        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
                        {% else %}
                        <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                        <a href="/page{{ paginator.next_page }}" class="next">Next</a>
                        {% else %}
                        <span class="next ">Next</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="row text-center">
                    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Blog -->
