<!-- Begin Buy Tickets Section -->
<section id="buy-tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Pricetable</h3>
			<div class="col-md-4 col-sm-4 pricing-col animated hiding" data-animation="fadeInLeft" data-delay="500">
				<div class="pricing-header">
					<h3 class="title">1 day</h3>
					<h4 class="amount">$100</h4>
				</div>
				<div class="pricing-content">
					<ul>
						<li>Lorem ipsum is simply</li>
						<li>Dummy text of the printing</li>
						<li>Typesetting industry</li>
					</ul>
					<a class="button" href="#">Buy Now</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 pricing-col pricing-col-featured animated hiding" data-animation="fadeInDown" data-delay="0">
				<div class="pricing-ribbon">-20%</div>
				<div class="pricing-header">
					<h3 class="title">3 days</h3>
					<h4 class="amount">$150</h4>
				</div>
				<div class="pricing-content">
					<ul>
						<li>Lorem ipsum is simply</li>
						<li>Dummy text of the printing</li>
						<li>Typesetting industry</li>
					</ul>
					<a class="button" href="#">Buy Now</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 pricing-col animated hiding" data-animation="fadeInRight" data-delay="500">
				<div class="pricing-header">
					<h3 class="title">2 days</h3>
					<h4 class="amount">$200</h4>
				</div>
				<div class="pricing-content">
					<ul>
						<li>Lorem ipsum is simply</li>
						<li>Dummy text of the printing</li>
						<li>Typesetting industry</li>
					</ul>
					<a class="button" href="#">Buy Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Buy Tickets Section -->