<section id="call-for-speakers" class="call-for-speakers">
    <div class="container">
            <p>Este ano não será exceção e a <strong>PSTQB – Associação Portuguesa de Testes de Software</strong> vai organizar mais uma conferência inteiramente dedicada aos testes: "<strong>Testing Portugal 2018</strong>", que conta este ano com a sua <strong>9ª edição</strong>.</p>
            <p>
                A conferência, que este ano se realiza no dia <strong>21 de novembro</strong>, em Lisboa, destina-se a todos os profissionais interessados em testes e garantia de qualidade (testadores certificados, gestores de teste e profissionais da área de testes).
            </p>
            <p>
                Nesta fase, já abriu a chamada para apresentações. Incentivamos ao envio de artigos alusivos a temas relacionados com testes de software. Serão valorizadas candidaturas que abordem os seguintes temas:
            </p>
            <ul>
                <li>
                    IA – Inteligência Artificial
                </li>
                <li>
                    ML – Machine Learning
                </li>
                <li>
                        IoT – Internet of Things
                </li>
                <li>
                        Agile
                </li>
                <li>
                        DevOps
                </li>
                <li>
                        Big Data
                </li>
                <li>
                        Digital Transformation
                </li>
                <li>
                        Continuous Testing/Integration/Delivery
                </li>
                <li>
                        Test Automation
                </li>
                <li>
                        Security Testing
                </li>
            </ul>
            <p>
                A conferência teve uma audiência de <strong>350 participantes em 2017</strong> e este ano, o objetivo é ultrapassar os 400 participantes.
            </p>
            <p>Envie a sua submissão de candidatura com as seguintes informações:</p>
            <ul>
                    <li>Título;</li>
                    <li>Resumo com um máximo de 250 palavras;</li>
                    <li>Se a apresentação será em Inglês ou Português;</li>
                    <li>Preferência por apresentação oral ou em poster?;</li>
                    <li>Qual a natureza da sua apresentação? (experiência, caso de estudo, pesquisa, inovação);</li>
                    <li>A sua experiência em fazer apresentações (quanto, quando e onde?);</li>
                    <li>Breve descrição de si mesmo.</li>
            </ul>
            <p>Se selecionado, será convidado a submeter:</p>
            <ol>
                <li>Artigo com um máximo de 3 páginas (fonte Arial, tamanho 10), excluindo imagens;</li>
                <li>Vídeo com duração máxima de 3 minutos.</li>
            </ol>
            <p>O vídeo será sempre como complemento ao artigo não podendo substituir o mesmo e deverá focar os seguintes pontos:</p>
            <ul>
                <li>Breve descrição sobre si;</li>
                <li>Breve descrição sobre o tema que se propõe apresentar.</li>
            </ul>

            <p><strong>O envio do artigo e do vídeo são de caráter obrigatório, sendo que o não envio dos mesmos constituirá fator de exclusão.</strong></p>

            <p>Tenha em atenção as seguintes datas para entrega dos elementos:</p>
            <ul>
                <li>08 de agosto - submissão da candidatura (resp. dos candidatos);</li>
                <li>10 de agosto – comunicação da aceitação das candidaturas (resp. PSTQB);</li>
                <li>30 de setembro - envio do artigo e vídeo (resp. do candidato);</li>
                <li>12 de outubro – comunicação dos artigos selecionados (resp. da PSTQB) e formato em que deverá ser apresentado (oral ou poster);</li>
                <li>11 de novembro - envio da versão final da apresentação oral ou poster a realizar no evento (resp. dos autores dos artigos selecionados).</li>
            </ul>
            <p>Todos os elementos deverão ser enviados para o email <a href="mailto:testing.portugal@pstqb.pt"></a>testing.portugal@pstqb.pt. Se necessitar de algum esclarecimento adicional não hesite em contactar-nos pelo mesmo email.</p>

            <p>Estamos ansiosos para recebê-lo no <strong>Testing Portugal 2018!</strong></p>
    </div>
            
</section>
