<!-- Begin Code of Conduct -->

<section id="code-of-conduct" class="code-of-conduct">
    <div class="content-wrapper text-left">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <p>All attendees, speakers, sponsors, and volunteers at MenderCon 2021 are required to comply with the
                    following code of conduct. Organizers will enforce this code throughout the event. We expect
                    cooperation from all participants to help ensure a safe environment for everyone.</p>
            </div>
            <div>
                <h5>Our Pledge</h5>
                <p>We as participants pledge to make participation in MenderCon a harassment-free experience
                    for everyone, regardless of age, body size, visible or invisible disability, ethnicity, sex
                    characteristics, gender identity and expression, level of experience, education, socio-economic status,
                    nationality, personal appearance, race, religion, or sexual identity and orientation.</p>
                <p>We pledge to act and interact in ways that contribute to an open, welcoming, diverse, inclusive, and
                    healthy event.</p>
            </div>
            <div>
                <h5>Our Standards</h5>
                <p>Examples of behavior that contributes to a positive environment for our event include:</p>
                <ul>
                    <li>Demonstrating empathy and kindness toward other people</li>
                    <li>Being respectful of differing opinions, viewpoints, and experiences</li>
                    <li>Giving and gracefully accepting constructive feedback</li>
                    <li>Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience</li>
                    <li>Focusing on what is best not just for us as individuals, but for the overall community</li>
                </ul>
                <p>Examples of unacceptable behavior include:</p>
                <ul>
                    <li>The use of sexualized language or imagery, and sexual attention or advances of any kind</li>
                    <li>Trolling, insulting or derogatory comments, and personal or political attacks</li>
                    <li>Public or private harassment</li>
                    <li>Publishing others’ private information, such as a physical or email address, without their explicit permission</li>
                    <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
                </ul>
            </div>
            <div>
                <h5>Enforcement Responsibilities</h5>
                <p>MenderCon organizers are responsible for clarifying and enforcing standards of acceptable behavior
                    and will take appropriate and fair corrective action in response to any behavior that they deem
                    inappropriate, threatening, offensive, or harmful.</p>
                <p>MenderCon organizers have the right and responsibility to remove parti or reject comments, commits,
                    code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct,
                    and will communicate reasons for moderation decisions when appropriate.</p>
            </div>
            <div>
                <h5>Enforcement</h5>
                <p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported to the MenderCon
                    organizers responsible for enforcement at
                    <a href="mailto:coc@mendercon.com" target="_blank">coc@mendercon.com</a>. All complaints will be
                    reviewed and investigated promptly and fairly.</p>
                <p>All organizers are obligated to respect the privacy and security of the reporter of any incident.</p>
            </div>
            <div>
                <h5>Enforcement Guidelines</h5>
                <p>Organizers will use the following guidelines in determining the consequences for any action they deem
                    in violation of this code of conduct:</p>
                <table>
                    <tr>
                        <th>Level</th>
                        <th>Infraction</th>
                        <th>Consequence</th>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>Use of inappropriate language or other behavior deemed unprofessional or unwelcome in the community.</td>
                        <td>A private, written warning from organizers, providing clarity around the nature of the violation and an explanation of why the behavior was inappropriate. A public apology may be requested.</td>
                    </tr>
                    <tr>
                        <td>II</td>
                        <td>A violation through a single incident or series of actions.</td>
                        <td>A warning with consequences for continued behavior. No interaction with the people involved, including unsolicited interaction with those enforcing the code of conduct, for a specified period of time. This includes avoiding interactions in community spaces as well as external channels like social media. Violating these terms may lead to a temporary or permanent ban.</td>
                    </tr>
                    <tr>
                        <td>III</td>
                        <td>A serious violation of community standards, including sustained inappropriate behavior.</td>
                        <td>A temporary ban from any sort of interaction or public communication with the community for a specified period of time. No public or private interaction with the people involved, including unsolicited interaction with those enforcing the code of conduct, is allowed during this period. Violating these terms may lead to a permanent ban.</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>Demonstrating a pattern of violation of community standards, including sustained inappropriate behavior, harassment of an individual, or aggression </td>
                        <td>A permanent ban from any sort of public interaction within the community.</td>
                    </tr>
                </table>
            </div>
            <div>
                <h5>Attribution</h5>
                <p>This Code of Conduct is adapted from the Contributor Covenant, version 2.0, available at
                    https://www.contributor-covenant.org/version/2/0/code_of_conduct.html.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Code of Conduct -->