<section id="course" class="course">
    <div class="container">
        <h4>Formação ISTQB<sup>&reg;</sup> Advanced Level - Test Manager</h4>
        <h5 class="subtitle">About the course</h5>
        <p>The <b>ISTQB Advanced Test Manager</b> course extends the broad understanding of testing acquired at Foundation
            Level to enable the role of Test Manager to be performed.</p>

        <p>This five-day tutor-led course includes lectures, exercises and practical work, as well as exam preparation.
            The examination is held at an agreed later date, so allowing adequate time for revision. It is
            fully-accredited by UKTB on behalf of ISTQB and has been rated <b>SFIAplus level 5</b> by the BCS.</p>

        <p>After successfully completing the course and passing the exam, delegates should be able to:</p>

        <ul>
            <li>Manage a testing project by implementing the mission, goals and testing processes established for the
                testing organization.</li>
            <li>Organize and lead risk identification and risk analysis sessions and use the results of such sessions
                for test estimation, planning, monitoring and control.</li>
            <li>Create and implement test plans consistent with organizational policies and test strategies.</li>
            <li>Continuously monitor and control the test activities to achieve project objectives.</li>
            <li>Assess and report relevant and timely test status to project stakeholders.</li>
            <li>Identify skills and resource gaps in their test team and participate in sourcing adequate resources.</li>
            <li>Identify and plan necessary skills development within their test team.</li>
            <li>Propose a business case for test activities which outlines the costs and benefits expected.</li>
            <li>Ensure proper communication within the test team and with other project stakeholders.</li>
            <li>Participate in and lead test process improvement initiatives.</li>
        </ul>




        <h5 class="subtitle">Who is it for?</h5>
        <p>The ISTQB Certified Test Manager Advanced Level is principally aimed at test practitioners who have achieved
            an advanced point in their careers in software testing and are expecting to be actively involved in the
            management of any aspect of software testing, and who want to increase their test management knowledge and
            skills beyond the levels covered by the Foundation and Intermediate qualifications. This includes people in
            roles such as testers, test analysts, test engineers, test consultants, test managers, user acceptance
            testers and software developers. This Advanced Level qualification is also appropriate for anyone who wants
            a deeper understanding of software testing, such as project managers, quality managers, software
            development managers, business analysts and management consultants.</p>

        <h5 class="subtitle">About ISTQB and the ‘Certified Tester’ Scheme</h5>
        <p>Founded in 2002, ISTQB (International Software Testing Qualifications Board) is a not-for-profit association
            comprising 47 national boards (including the UKTB) covering 71 countries worldwide. ISTQB has defined the
            Advanced certification as part of their ‘Certified Tester’ scheme that, with over 240,000 certifications,
            has become the de facto world-wide standard for software testing qualifications. The ‘Certified Tester’
            scheme:</p>

        <ul>
            <li>Provides a set of professional qualifications widely-recognised by employers, customers and peers;</li>
            <li>Enables software suppliers to hire and train certified testers and thereby gain commercial advantage
                over their competitors by advertising their tester recruitment and development policies; and</li>
            <li>Enables comparison of testing skills across different countries, testers to move across country borders
                more easily, and multi-national/international projects to have a common understanding of testing
                issues.</li>
        </ul>


        <h5 class="subtitle">Entry Requirements</h5>
        <p>The entry requirements for the Certified Tester Advanced Level Test Manager qualification are that the
            candidate must hold the <b>ISTQB Foundation certificate</b> and it is also suggested that candidates have a
            minimum of <b>3 years</b> testing experience.</p>

        <p>Note that it is recommended that you attend an accredited training course run by an accredited training
            provider, as the overall exam pass rates are notably higher for candidates attending such courses.</p>

        <h5 class="subtitle">The Exam</h5>
        <p>The exam is taken after the course.</p>

        <ul>
            <li>65 multiple choice pick ‘n’ mix questions which consist of the questions followed by a list of options;</li>
            <li>Duration of 180 minutes (or 225 minutes for candidates taking examinations that are not in their native
                language);</li>
            <li>A Candidate must score at least 65% to pass (75/115).</li>
        </ul>


        <h5 class="subtitle">Course Objectives</h5>
        <p>The objectives for the <b>Certified Tester Advanced Level</b> qualification are to:</p>
        <ul>
            <li>Gain recognition for testing as an essential and professional software engineering specialization;</li>
            <li>Provide a standard framework for the development of testers' careers;</li>
            <li>Enable professionally qualified testers to be recognized by employers, customers and peers, and to
                raise the profile of testers and testing;</li>
            <li>Promote consistent and good testing practices within all software engineering disciplines;</li>
            <li>Identify testing topics that are relevant and of value to industry;</li>
            <li>Enable software suppliers to hire certified testers and thereby gain commercial advantage over their
                competitors by advertising their tester recruitment policy;</li>
            <li>Provide an opportunity for testers and those with an interest in testing to acquire an internationally
                recognized qualification in the subject.</li>
        </ul>

        <!-- Course master -->
        <div class="row">
            <h5 class="subtitle">Course Trainer</h5>
            <div class="col-md-2 col-sm-2">
                <div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: 'AgelinaSamaroo.jpeg' }})"></div>
            </div>
            <div class="col-md-10 col-sm-10">
                <p class="name">Agelina Samaroo
                    <span class="position">Managing Director, Pinta Education Ltd</span>
                </p>
                <p class="about">
                    Over 20 years experience in engineering, software development, quality assurance and training. 
                    Career aim is to encourage engineers across all disciplines to reach the highest levels of professional recognition through training, coaching and mentoring.
                    She is an avid supporter of testing qualifications and is a co-author of the two highly successful BCS books on software testing - 
                    a BCS-ISTQB Foundation in Software Testing and a BCS Intermediate in Software Testing.  Both highly rated on Amazon.
                </p>
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/angelina-samaroo-fiet-1a84342/" target="_blank">
                            <svg class="icon icon-{{ social[linkedin] }}" viewBox="0 0 30 32">
                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social[linkedin] }}"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div id="prices" class="col-sm-10 col-sm-offset-1">
            <h3 class="center-text">Preços</h3>
            {% for ticket in site.courseTickets %}
                <div class="col-xs-12 col-sm-6">
                    <div class="package-column">
                        <h6 class="package-title">{{ticket.name}}</h6>
                        <div class="package-price">
                            {{ticket.price}}<span class="currency">{{ticket.currency}}</span>
                        </div>
                        <h6>Early Bird (-20%)</h6>
                        <div class="package-price">
                            {{ticket.earlyBirdPrice}}<span class="currency">{{ticket.currency}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p class="center-text">Aos valores supramencionados, acresce o I.V.A. à taxa normal em vigor.</p>
            <p class="center-text">Data limite <strong>Early Bird</strong>: 31 de outubro</p>
            
        </div>
        
    </div>

    
</section>