<!-- Begin Direction Details-->
<section id="direction-details">
    <div class="content-wrapper">
        <section class="image-section" style="background-image: url('{{ site.baseurl }}/img/direction-details.jpg');">
            <h3>Get around Lviv</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>From the Airport</h4>
                        <p>Airport is right at the city border. It is easily reachable by car, public transport or taxi. More information is available at <a href="http://lwo.aero/en/transport">airport website</a>.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                        <h4>Public Transit</h4>
                        <p>Google Transit is available in Lviv. So you can find your way in Google Maps. Moreover, you can download any of the offline public transit apps available for Lviv.</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <h4>Hotels</h4>
                        <p>Lviv has lots of great hotels and hostels. More information will be available later.</p>
                    </div>
                </div>
                <!--div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Questions?</h4>
                        <div class="col-md-4 col-xs-12">
                            <h5>General</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Registration</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Attendance Details</h5>
                            <ul>
                                <li><a href="#" target="_blank">InterContinental</a>
                                </li>
                                <li><a href="#" target="_blank">The Hotel Rex</a>
                                </li>
                                <li><a href="#" target="_blank">Westin Market Street</a>
                                </li>
                                <li><a href="#" target="_blank">Hotel Adagio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div-->
            </div>
        </div>

        <div class="row">
        </div>
    </div>
</section>
<!-- End Direction Details -->