<!-- Entertainment Section -->
<section id="entertainment">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.entertainmentBlockTitle }}</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6 entertainment-col">
                    <div class="entertainment-elem-wrapper">
                        <div class="entertainment-elem image-section entertainment-big-elem entertainment-img animated hiding" data-animation="fadeIn" data-delay="75" style="background-image: url({{ site.baseurl }}/img/entertainment/{{ site.entertainmentImage1 }})"></div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 entertainment-col">
                    <div class="entertainment-elem-wrapper">
                        <div class="entertainment-elem image-section entertainment-big-elem entertainment-img animated hiding" data-animation="fadeIn" data-delay="75" style="background-image: url({{ site.baseurl }}/img/entertainment/{{ site.entertainmentImage2 }})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Entertainment Section -->
