<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		{% for block in site.footerBlocks %}
        {% assign colWidth = 12 | divided_by: forloop.length %}
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
				{% endfor %}
				{% for element in block.elements %}
				<li>{{ element.text }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p style="text-align: center;">Conferência Testing Portugal 2018 | Associação Portuguesa de Testes de Software | <a href="{{ site.privacyPolicy.link }}">{{ site.privacyPolicy.text}}</a></p>
		</div>
	</div>
</footer>
<!-- End Footer -->