<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="col-md-6">
			<p><img class="img-responsive" src="{{ site.baseurl }}/img/logos/footer-logo.png" alt="MenderCon logo"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			Contact Us: <a href="mailto:info@mendercon.com" target="_blank">info@mendercon.com</a>
		</div>
		<div class="col-md-6 text-right">Website based on
			<a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>.</div>
	</div>
</footer>
<!-- End Footer -->