<!-- Begin Hackathon Location Section -->
<section id="hackathon-location" class="hackathon-location">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row pull-left">
                <h3>{{ site.hackathonLocationBlockTitle }}</h3>
                <ul>
                    {% if site.hackathonLocationName %}<li>{{ site.hackathonLocationName }}</li>{% endif %}
                    <li>{{ site.hackathonStreetAddress }}, {{ site.hackathonAddressLocality }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    <li>
                        {% assign startTime = site.hackathonStartTime | split: "T" %}
                        <time>{{ startTime[1] }}</time> -
                        {% assign endTime = site.hackathonEndTime | split: "T" %}
                        <time>{{ endTime[1] }}</time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Hackathon Location Section -->