<!-- Begin Hackathon Location Section -->
<section id="hackathon-location" class="hackathon-location">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            {% if site.hackathonLocationName %}
            <h5 class="location-name">{{ site.hackathonLocationName }}</h5>
            {% endif %}
        <p class="location-address">{{ site.hackathonStreetAddress }}, {{ site.hackathonAddressLocality }}</p>
            <div class="hackathon-time">
                <span>{{ site.hackathonTimeTitle }}</span>
                {% assign startTime = site.hackathonStartTime | split: "T" %}
                <time>{{ startTime[1] }}</time> -
                {% assign endTime = site.hackathonEndTime | split: "T" %}
                <time>{{ endTime[1] }}</time>
            </div>
            <a href="https://maps.google.com/maps?ll={{ site.hackathonPlaceCoordinates | replace:' ',''}}&z=17&t=m&hl=en-US&gl=US&mapclient=embed&q={{ site.hackathonStreetAddress | replace:' ','%20' | replace:',','%2C'}}%2C%20{{ site.hackathonAddressLocality | replace:' ','%20' | replace:',','%2C'}}" class="view-on-map" target="_blank">{{ site.viewOnMap }}</a>
        </div>
    </div>
</section>
<!-- End Hackathon Location Section -->