<!-- Begin Hero Section -->
<style>
    .top-section-hero a {
        color: #f4919f;
    }
    .top-section-hero a:hover {
        color: #f6d3d8;
    }

</style>
<section id="home" class="top-section-hero top-section image-section parallax"
         style="background-image: url('{{ site.baseurl }}/img/sections-background/eclipse.png');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <div class="logo logo-big"></div>
            <div class="logo logo-name"></div>
            <!--{% assign heroText = site.heroTitle %}-->
            <!--<h1>{{ heroText }}<span class="hidden-xs"></span></h1>-->
            <p style="line-height: 38px;">
                Upcoming Events:
                <div style="font-size: 22px;">
                    {% for event in site.upcomingEvents %}
                    <div style="display: inline-block; width: 400px;"
                       {% if event.link != null or event.newTab == true %}target="_blank"{% endif %}
                       title="{{event.name}}">
                        <a href="{% if event.permalink != null %} {{ event.permalink | prepend: site.baseurl }} {% else %} {{ event.link }} {% endif %}">{{ event.date }}, {{event.location}}</a></div>
                    {% endfor %}
                </div>
            </p>

        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->