<!-- Carousel Section-->
<div class="container" style="margin-top:2em;">
    <div class="row">
            <div id="hotel-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <img class="d-block" style="width:100%" src="{{ site.baseurl }}/img/hotel/{{ site.carouselImage1 }}" alt="First slide">
                      </div>
                      <div class="item">
                        <img class="d-block" style="width:100%" src="{{ site.baseurl }}/img/hotel/{{ site.carouselImage2 }}" alt="Second slide">
                      </div>
                    </div>
                </div>
    </div>
</div>

<!-- Description Section-->
<div class="container" style="text-align: center; margin-top:2em;">
    <div class="row">
            <h4 style="font-weight:300">
                Venha à Conferência Testing Portugal 2018 e desfrute dos magníficos serviços do ALTIS Grand Hotel
            </h4>
    </div>
    <div class="row" >
        <p>
        Altis Grand Hotel é o símbolo da elegante e genuína hospitalidade portuguesa.</p>
        <p>
        O Altis Grand hotel, é um hotel em Lisboa com uma localização única, um autêntico centro de negócios no centro da cidade. A excelência do seu serviço de 5 estrelas transforma a sua estadia numa experiência memorável. Dada a localização do hotel em Lisboa,  o Altis Grand Hotel tem o seu nome ligado à história contemporânea do país, recebendo habitualmente importantes eventos mediáticos e reconhecimento pela qualidade dos serviços.
        </p>
    </div>
        
</div>

<div class="container">
        <div class="row">
            {% for image in site.hotelThumbnails %}
                <div class="col-10 col-lg-4 col-md-4 col-sm-4 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive"  src="{{ site.baseurl }}/img/hotel/{{ image.src }}" alt="">
                    </a>
                </div>
            {% endfor %}
    </div>
</div>


<!-- Begin Map Section -->
<section id="location-map" class="hotel-location-map">
    <h3>{{site.locationBlockTitle}}</h3>
    <div id="canvas-map" class="hotel-canvas-map"></div>
</section>
<!-- End Map Section -->