<!-- Carousel Section-->
<div class="container" style="margin-top:2em;">
    <div class="row">
        <img class="d-block" style="width:100%" src="{{ site.baseurl }}/img/hotel/{{ site.carouselImage1 }}" alt="Altis Grand Hotel">
    </div>
</div>

<!-- Description Section-->
<div class="container" style="text-align: center; margin-top:2em;">
    <div class="row">
            <h4 style="font-weight:300">
                Venha à Conferência Testing Portugal 2018 e desfrute dos magníficos serviços do ALTIS Grand Hotel
            </h4>
    </div>
    <div class="row" >
        <p>
        Altis Grand Hotel é o símbolo da elegante e genuína hospitalidade portuguesa.</p>
        <p>
        O Altis Grand hotel, é um hotel em Lisboa com uma localização única, um autêntico centro de negócios no centro da cidade. A excelência do seu serviço de 5 estrelas transforma a sua estadia numa experiência memorável. Dada a localização do hotel em Lisboa,  o Altis Grand Hotel tem o seu nome ligado à história contemporânea do país, recebendo habitualmente importantes eventos mediáticos e reconhecimento pela qualidade dos serviços.
        </p>
    </div>
        
</div>

<div class="container">
        <div class="row">
            {% for image in site.hotelThumbnails %}
                <div class="col-10 col-lg-4 col-md-4 col-sm-4 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive"  src="{{ site.baseurl }}/img/hotel/{{ image.src }}" alt="">
                    </a>
                </div>
            {% endfor %}
    </div>
</div>

<section id="how-to-arrive" class="how-to-arrive">
    <h3>Como Chegar</h3>
    <div class="col-md-4">
        <h4>Hotéis</h4>
        <ul>
            <li>ALTIS Grand Hotel</li>
            <li>Holiday Inn</li>
            <li>Hotel Jorge V</li>
            <li>Eurostars das Letras Hotel</li>
            <li>Hotel The Vintage Lisbon</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Parques</h4>
        <ul>
            <li>ALTIS Grand Hotel</li>
            <li>Estacionamento Alexandre Herculano</li>
            <li>Estacionamento Av. da Liberdade</li>
            <li>Estacionamento Mayer</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Transportes</h4>
        <h6>Metro</h6>
        <ul>
            <li class="metro-line">Linha Amarela e Linha Azul</li>
            <ol>
                <li>Saída em Marquês de Pombal</li>
                <li>Subir a Rua Alexandre Herculano</li>
                <li>Virar à esquerda na Rua Castilho</li>
            </ol>
            <li class="metro-line">Linha Amarela</li>
            <ol>
                <li>Saída no Largo do Rato</li>
                <lo>Descer a Rua Alexandre Herculano</lo>
                <li>Virar à esquerda na Rua Castilho</li>
            </ol>
        </ul>
    </div>
</section>

<!-- Begin Map Section -->
<section id="location-map" class="hotel-location-map">
    <h3>{{site.locationBlockTitle}}</h3>
    <div id="canvas-map" class="hotel-canvas-map"></div>
</section>
<!-- End Map Section -->