<!-- Judges Section -->
<section id="judges" class="judges image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.judgesImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.judgesTitle }}</h3>
            <div class="row">
                {% assign animationDelay = 0 %} {% for judge in site.data.judges %} 
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="judge col-md-{{ colWidth }} col-xs-6 animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                    <div class="flow-img img-circle judge-img" style="background-image: url({{ site.baseurl }}/img/people/{{ judge.thumbnailUrl }})"></div>
                    <p class="name">{{ judge.name }} {{ judge.surname }}</p>
                    <span class="company">{{ judge.company }}</span>
                    <span class="title">{{ judge.title }}</span>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %} 
                {% assign check = forloop.index | modulo:2 %} 
                {% if check == 0 %}
                <div class="clearfix visible-xs"></div>
                {% endif %} 
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Judges Section -->
