<!-- Begin Kids Workshop-->
<section id="team" class="team">
    <div class="content-wrapper">
				<div>
				<h2>{{ site.kidsWStitel }}</h2>
					<p>
						In this Workshop, made in cooperation with Vienna based company <a href='http://spielend-progmmieren.at' target='_blank'>http://spielend-progmmieren.at</a>, kids of age 10+ can learn how to create and publish self-designed computer games or videos using the Software <a href="http://scratch.mit.edu" target='_blank'>Scratch</a> from Massachusetts Institute of Technology.
					
						<span style="font-weight: bold">Prerequisites:</span> Participants of all age need no previous knowledge of computer programming, but should know how to use a computer mouse and should possess the ability to read simple words in english language. Knowledge of how to operate computer paint programs is helpful.
					
						<span style="font-weight: bold">Hardware:</span> Participants are encouraged to bring their own (or their parents) internet-able computer with them. An actual browser (firefox) and installed flash-plugin is necessary, as well as working W-Lan drivers. A limited number of laptops will be available for participants without computers. In this case, please contact the organisers in advance to ease organisation.
				
						<span style="font-weight: bold">Duration:</span> The workshop will be held in units of around 2 hours each. Please be present at the beginning of a unit, do not come in the middle of a unit as this is highly irritating for all people present. This is a workshop and no children dumping space. New participants are welcomed at each beginning of a new workshop unit, while participants are encouraged to visit more than one workshop unit to learn advanced programming topics.
					
						<span style="font-weight: bold">Goal:</span> participants should be able, after one or more workshop units, to understand the basics of computer (game) programming and create simple games or videos using Scratch software. Participants are encouraged to create their own game/video ideas with the help of the workshop staff (by visiting more than one workshop unit) and to share their creations in the internet/participate in game programming events like the <a href="http://90.146.8.18/de/prix/u19/" target='_blank'>U19 competition of the Ars Electronica.</a> 
					
						<span style="font-weight: bold">Legal:</span> participants of the workshop will be photographed for documentation/public relation reasons. Participants of the workshop will also be encouraged to make video/audio presentations/interviews of their work for public presentation in the internet. For participants under 18, a form signed by a parent or legal representative is necessary for participation at the workshop. See registration or ask the workshop staff for more details.
					</p>
					
					<table>
					<tr><td><span style="font-weight: bold">Facts</span></td></tr>
					<tr><td><span style="font-weight: bold">Participants:</span> kids of 10+ age interested in learning to program</td></tr>
					<tr><td><span style="font-weight: bold">What:</span> learn game programing</td></tr>
					<tr><td><span style="font-weight: bold">Participation fee:</span> no fee</td></tr>
					<tr><td><span style="font-weight: bold">Number of participants:</span> x</td></tr>
					</table>
					
				</div>
    </div>
</section>
<!-- End Kids Workshop -->
