<!-- Begin Kids Workshop-->
<section id="team" class="team">
    <div class="content-wrapper">
			<div class="col-lg-10 col-lg-offset-1">	
				<h3>{{ site.kidsWStitel }}</h3>
				
					<div class="content-workshop" style="text-align: initial;">
						<h6 class="lang">De</h6>
						<br />
						<p>In this Workshop, made in cooperation with Vienna based company <a href='http://spielend-progmmieren.at' target='_blank'>http://spielend-progmmieren.at</a>, kids of age 10+ can learn how to create and publish self-designed computer games or videos using the Software <a href="http://scratch.mit.edu" target='_blank'>Scratch</a> from Massachusetts Institute of Technology.</p><br/>
					
						<p><span style="font-weight: bold"><i class="fa fa-cogs" style="color:#03a9f4"></i> Prerequisites:</span> Participants of all age need no previous knowledge of computer programming, but should know how to use a computer mouse and should possess the ability to read simple words in english language. Knowledge of how to operate computer paint programs is helpful.</p><br/>
					
						<p><span style="font-weight: bold"><i class="fa fa-desktop" style="color:#03a9f4"></i> Hardware:</span> Participants are encouraged to bring their own (or their parents) internet-able computer with them. An actual browser (firefox) and installed flash-plugin is necessary, as well as working W-Lan drivers. A limited number of laptops will be available for participants without computers. In this case, please contact the organisers in advance to ease organisation.</p><br/>
				
						<p><span style="font-weight: bold"><i class="fa fa-clock-o" style="color:#03a9f4"></i> Duration:</span> The workshop will be held in units of around 2 hours each. Please be present at the beginning of a unit, do not come in the middle of a unit as this is highly irritating for all people present. This is a workshop and no children dumping space. New participants are welcomed at each beginning of a new workshop unit, while participants are encouraged to visit more than one workshop unit to learn advanced programming topics.</p><br/>
					
						<p><span style="font-weight: bold"><i class="fa fa-mortar-board" style="color:#03a9f4"></i> Goal:</span> participants should be able, after one or more workshop units, to understand the basics of computer (game) programming and create simple games or videos using Scratch software. Participants are encouraged to create their own game/video ideas with the help of the workshop staff (by visiting more than one workshop unit) and to share their creations in the internet/participate in game programming events like the <a href="http://90.146.8.18/de/prix/u19/" target='_blank'>U19 competition of the Ars Electronica.</a> </p> <br/>
					
						<p><span style="font-weight: bold"><i class="fa fa-bookmark" style="color:#03a9f4"></i> Legal:</span> participants of the workshop will be photographed for documentation/public relation reasons. Participants of the workshop will also be encouraged to make video/audio presentations/interviews of their work for public presentation in the internet. For participants under 18, a form signed by a parent or legal representative is necessary for participation at the workshop. See registration or ask the workshop staff for more details.</p>
					
					<br />  <hr /> <br />
					
						<h5>Facts</h5>
						<ul style="font-size: 15px">
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-user" style="color:#03a9f4"></i> Participants:</span> kids of 10+ age interested in learning to program </li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-question" style="color:#03a9f4"></i> What:</span> learn game programing </li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-users" style="color:#03a9f4"></i> Time:</span> 2 x 2h (each workshop has 2h)</li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-eur" style="color:#03a9f4"></i> Participation fee:</span> no fee</li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-users" style="color:#03a9f4"></i> Max. Number of participants:</span> 20</li>
						</ul>
					</div>


					<div class="content-workshop deu" style="text-align: initial; display: none;">
					<h6 class="lang">En</h6>

						<br /> GERMAN
						Spiele programmieren lernen mit Scratch

							<p>In diesem Workshop (in Zusammenarbeit mit dem Wiener Schulungsunternehmen http://spielend-programmieren.at) lernen Kinder ab 10 Jahren eigene Film- bzw. Spielideen am Computer zu erstellen und im Internet zu publizieren. Verwendet wird die speziell für Kinder vom Massachusetts Institute of Technology entwickelte Programmiersoftware <a href="http://scratch.mit.edu" target='_blank'>Scratch</a> ..</p><br/>

							Voraussetzungen: WorkshopteilnehmerInnen (alt und jung) benötigen keine Programmierkenntnise, aber sollten allgemeine Computerkenntnisse haben (Maus, Tastatur, Internet) und fähig sein einfache englische Wörter zu lesen. Kenntnisse im Umgang mit einem Computer-Malprogramm (z.B. Gimp oder MS-Paint) sind sehr empfehlenswert. 


							<p><span style="font-weight: bold"><i class="fa fa-cogs" style="color:#03a9f4"></i> Vorbereitung: </span> Wenn es Ihnen möglich ist, legen Sie bitte vor dem Workshop einen Account auf der Seite http://scratch.mit.edu an und haben Sie beim Workshop Username und Passwort parat, damit erleichtern Sie die Abwicklung des Workshops enorm.</p><br/>

							<p><span style="font-weight: bold"><i class="fa fa-desktop" style="color:#03a9f4"></i> Hardware: </span>  WorkshopteilnehmerInnen können ihre eigenen Computer (oder die ihrer Eltern) mitbringen solange folgende Voraussetzungen erfüllt sind:
							Die Computer besitzen einen aktuellen Browser (Firefox) und eine das Flash-Plugin von Adobe ist korrekt installiert. 
							Die Computer brauchen einen funktionierenden W-Lan Treiber, da beim Workshop online (mit Scratch 2.0) in der Cloud gearbeitet wird.
							Eine geringe Anzahl von Netbooks/Laptops kann von den Veranstaltern zur Verfügung gestellt werden, bitte unbedingt im voraus bei der Anmeldung abklären ob ein eigener Laptop mitgebracht wird oder nicht.</p><br/>
											

							<p><span style="font-weight: bold"><i class="fa fa-clock-o" style="color:#03a9f4"></i> Dauer:</span> Der Workshop wird in 2-Stunden Blöcken mit Pausen dazwischen abgehalten. (2 x 2h)
							Bitte erscheinen Sie pünktlich zum Workshopbeginn! Es wird empfohlen beide Workshop-Blöcke hintereinander zu besuchen (der zweite Block baut auf dem im ersten Block erlernten Wissen auf).  Der Workshop versteht sich NICHT als Kinderbetreuung sondern als Unterricht. </p><br/>

							<p><span style="font-weight: bold"><i class="fa fa-mortar-board" style="color:#03a9f4"></i> Ziel:</span> Nach dem Workshop sollten die TeilnehmerInnen befähigt sein, einfache Spiel- oder Filmideen mit Hilfe von http://scratch.mit.edu zu verwirklichen und im Internet zu publizieren. Die TeilnehmerInnen werden ermutigt, ihre Kreationen bei Wettbewerben wie dem <a href="http://90.146.8.18/de/prix/u19/" target='_blank'>U19-Wettbewerb der Ars Electronica </a> einzureichen </p> <br/>

							<p><span style="font-weight: bold"><i class="fa fa-bookmark" style="color:#03a9f4"></i> Einverständniserklärung:</span> WorkshopteilnehmerInnen unter 18 Jahren brauchen eine von einer/einem Erziehungsberechtigten unterschriebene Einverständniserklärung die erlaubt:
							Das Fotografieren der WorkshopteilnehmerInnen während dem Workshop für PR/Dokumentationszwecke und veröffentlichen dieser Fotos im Internet / in Publikationen
							Das Fotografieren / Erstellen von Videos sowohl der WorkshopteilnehmerInnen als auch deren Werke (Spiele/Filme) zum Zweck der Einreichung/Promotion bei Programmierwettbewerben wie dem U-19 Wettbewerb der Ars Electronica
							Einverständniserklärungen gibt es bei der Anmeldung oder bei den Veranstaltern.</p>
					
					<br />  <hr /> <br />
					
						<h5>Facts</h5>
						<ul style="font-size: 15px">
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-user" style="color:#03a9f4"></i> Participants:</span> kids of 10+ age interested in learning to program </li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-question" style="color:#03a9f4"></i> What:</span> learn game programing </li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-users" style="color:#03a9f4"></i> Time:</span> 2 x 2h (each workshop has 2h)</li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-eur" style="color:#03a9f4"></i> Participation fee:</span> no fee</li>
							<li style="list-style-type: none"><span style="font-weight: bold"><i class="fa fa-users" style="color:#03a9f4"></i> Max. Number of participants:</span> 20</li>
						</ul>
					</div>
					
			</div>		
					
					<!--
					<table>
					<tr><td><span style="font-weight: bold">Facts</span></td></tr>
					<tr><td><span style="font-weight: bold">Participants:</span> kids of 10+ age interested in learning to program</td></tr>
					<tr><td><span style="font-weight: bold">What:</span> learn game programing</td></tr>
					<tr><td><span style="font-weight: bold">Participation fee:</span> no fee</td></tr>
					<tr><td><span style="font-weight: bold">Number of participants:</span> x</td></tr>
					</table>
				-->
    </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
	$('.lang').click(function(){
            alert('asdfasdfadsfg');
            $('.content-workshop').toggle();
        });
});
</script>
<!-- End Kids Workshop -->
