<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
	<!--	<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<!-- <article class="row">
				{% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %} 
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
                {% endfor %}
			</article> 
</div> -->


<STYLE TYPE="text/css">
<!--
TD{font-family: Arial; font-size: 20pt; width: 500px; text-align: left}
--->
</STYLE>
		
<p>		
<table style="font-size: 4;" border=0 width=1000>
  <tr>
    <td>9:00 - 10:00</td>
    <td>Keynote presentations</td>
  </tr>
  <tr>
    <td>10:00 - 10:30</td>
    <td>Coffee and interaction time</td>
  </tr>
  <tr>
    <td>10:30 - 11:00</td>
    <td>Panel discussion and speaker Q &amp; A</td>
  </tr>
  <tr>
    <td>11:00 - 12:00</td>
    <td>Flash talks: hear from institutions around Japan</td>
  </tr>
  <tr>
    <td>12:00 - 14:00</td>
    <td>Lunch: please explore one of the local restaurants in the Ookayama area</td>
  </tr>
  <tr>
    <td>14:00 - 15:30</td>
    <td>Workshop: hands-on experience at different SciCom activities</td>
  </tr>
  <tr>
    <td>15:30 - 16:00</td>
    <td>Coffee and interaction time</td>
  </tr>
  <tr>
    <td>16:00 - 17:30</td>
    <td>Workshop: try a different SciCom activity </td>
  </tr>
  <tr>
    <td>17:30</td>
    <td>Wrap-up</td>
  </tr>
  <tr>
    <td>17:45</td>
    <td>Reception </td>
  </tr>
</table>
</div>
</section></p>
<!-- End Latest News Section -->
