<!-- Begin Latest News Section -->
<!-- (Actually, this is now the meeting schedule...) -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
	  <a name="schedule"></a>
	<div class="col-lg-10 col-lg-offset-1">
	  <h3>{{ site.latestNewsTitle }}</h3>
<!-- original content. Commented out in case useful later
	  <article class="row">
	  {% for post in site.posts limit:2 %}
	  {% assign postUrl = site.baseurl | append: post.url %}
	<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
	  <h6>{{ post.title }}</h6>
	  <p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
	</div>
	{% endfor %}
	</article>
-->
	</div>


<STYLE TYPE="text/css">
<!--
TD{font-family: Arial; font-size: 16pt; text-align: left; height: 30px;}
table{display: block; overflow: scroll;}
--->
</STYLE>

<p>
<div>
<table align="center" border=0 style="width:1000px;">
  <tr>
    <td width=20%>9:00 - 10:00</td>
    <td width=80%>Keynote presentations / 基調講演（3件）</td>
  </tr>
  <tr>
    <td>10:00 - 10:30</td>
    <td>Coffee and interaction time / コーヒーブレイク</td>
  </tr>
  <tr>
    <td>10:30 - 11:00</td>
    <td>Panel discussion and speaker Q &amp; A / パネル討論と質疑応答</td>
  </tr>
  <tr>
    <td>11:00 - 12:00</td>
    <td>Flash talks: hear from institutions around Japan / 国内の機関より5分間プレゼン</td>
  </tr>
  <tr>
    <td>12:00 - 14:00</td>
    <td>Lunch: please explore one of the local restaurants in the Ookayama area / 昼食（各自）</td>
  </tr>
  <tr>
    <td>14:00 - 15:30</td>
    <td>Workshop: hands-on experience at different SciCom activities / ワークショップ１</td>
  </tr>
  <tr>
    <td>15:30 - 16:00</td>
    <td>Coffee and interaction time / コーヒーブレイク</td>
  </tr>
  <tr>
    <td>16:00 - 17:30</td>
    <td>Workshop: try a different SciCom activity  / ワークショップ２</td>
  </tr>
  <tr>
    <td>17:30</td>
    <td>Wrap-up / まとめ</td>
  </tr>
  <tr>
    <td>17:45</td>
    <td>Reception / 懇親会</td>
  </tr>
</table>
</div>
</div>
</section></p>
<!-- End Latest News Section -->
