<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <h3>{{site.locationBlockTitle}}</h3>
    <div class="location-description">
            <p>{{site.eventLocationName}} - {{site.eventStreetAddress}}</p> 
            <p>{{site.eventPostalCode}}, {{site.eventAddressCountry}}</p>
            <p><span class="strong">Horário: </span> Das {{ site.eventStartTime }} às {{ site.eventEndTime }}</p>
    </div>
    <a href="{{ site.hotelPermaLink | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light">Saber Mais</a>
    <div id="canvas-map" class="canvas-map"></div>
</section>
<!-- End Location Section -->