<!-- Begin Organizers Section -->
<section id="organizers" class="organizers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <h3>Organizers</h3> -->
            {% for organizer in site.data.organizers %}
            <h5>{{ organizer.group }}</h5>
            <ul class="list-inline">
                {% for element in organizer.elements %}
                <li>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" alt="{{ element.description }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Organizers Section -->