<!-- Begin Organizers Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <h3>Organizers</h3> -->
            <h5>Main organizer</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://lviv.gdg.org.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-lviv.svg" alt="Google Developers Group Lviv">
                    </a>
                </li>
            </ul>
            <h5>Co-organizers</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://kyiv.gdg.org.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-kyiv.png" alt="Google Developers Group Kyiv">
                    </a>
                </li>
                <li>
                    <a href="http://cherkassy.gdg.org.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-cherkassy.png" alt="Google Developers Group Cherkassy">
                    </a>
                </li>
                <li>
                    <a href="http://dnipro.gdg.org.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-dnipropetrovsk.png" alt="Google Developers Group Dnipropetrovs'k">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Organizers Section -->