<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.organizersTitle }}</h3>
            {% for organizer in site.data.organizers %}
            <h5>{{ organizer.group }}</h5>
            <ul class="list-inline">
                {% for element in organizer.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            
            {% for year in site.data.partners %}
                <h3>{{ site.partnersTitle }}</h3>
                {% for group in year.groups %}                    
                    <ul class="list-inline">
                    {% for element in group.elements %}
                    <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                        <a href="{{ element.link }}" target="_blank">
                            <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                        </a>
                    </li>
                    {% endfor %}
                    </ul>              
                {% endfor %}
                {% break %}
            {% endfor %}
            <a href="mailto:{{ site.sponsorEmailAddress }}?subject={{ site.sponsorEmailSubject }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.sponsorButtonMessage }}</a>
        </div>
    </div> 
</section>
<!-- End Partners Section -->

