<!-- Begin Photos -->
<section id="photos-{{ include.year }}" class="photos schedule">
  <h3>Women Techmakers Vienna {{ include.year }}</h3>
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row text-left appear-animation-trigger">
        {% for photo in site.data.photos %}
          {% if photo.year == include.year %}
            <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
              <div class="lily-effect ribbon-activator">
                <div class="lily-head" data-toggle="modal" data-target="#photo-{{ include.year }}-{{ photo.id }}">
                  <figure style="background-image: url({{ site.baseurl | append: site.thumbnailsPhotos | append: include.year | append: '/' | append: photo.file }})">
                    <div class="overlay solid-overlay"></div>
                  </figure>
                </div>
                <div class="lily-bottom">
                  <ul class="slider">
                    <li class="title slider-item animated fadeInRight hidden">{{ photo.text }}</li>
                  </ul>
                </div>
                <a href="#" class="slider-next-item hidden">Next</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- End Photos -->