<!-- Prizes Section -->
<section id="prizes" class="prizes">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.prizesTitle }}</h3>
            {% for prize in site.prizes %}
            {% assign colWidth = 12 | divided_by: forloop.length %}
            {% assign check = forloop.index | modulo:2 %}
            <div class="prize col-md-{{ colWidth }} col-xs-{{ colWidth }} animated hiding" data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}" data-delay="{% if check == 0 %}0{% else %}500{% endif %}">
                <h4>{{ prize.title }}</h4>
                <div class="prize-img-wrapper">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ prize.image }}" alt="Hackathon">
                </div>
                <p>{{ prize.info }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Prizes Section -->
