<!-- Begin Speakers List 2-->
<section id="speakers" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Keynote Speakers</h4>
            {% for speaker in site.data.speakers %} {% if speaker.keynote != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})">
                        <figcaption>
                            <div class="col-md-12 col-xs-12 text-left">
                                <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ speaker.title }}</span>
                                <span class="company">{{ speaker.company }}</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
          </div>

          <div class="col-lg-10 col-lg-offset-1 text-center">
              <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Keynote Moderators</h4>
              {% for speaker in site.data.speakers %} {% if speaker.moderator != null %}
              <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                  <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                      <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})">
                          <figcaption>
                              <div class="col-md-12 col-xs-12 text-left">
                                  <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                  <div class="clearfix"></div>
                                  <span class="position">{{ speaker.title }}</span>
                                  <span class="company">{{ speaker.company }}</span>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div>
            {% endif %} {% endfor %}
          </div>

          <div class="col-lg-10 col-lg-offset-1 text-center">
              <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Panelists</h4>
              {% for speaker in site.data.speakers %} {% if speaker.panelist != null %}
              <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                  <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                      <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})">
                          <figcaption>
                              <div class="col-md-12 col-xs-12 text-left">
                                  <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                  <div class="clearfix"></div>
                                  <span class="position">{{ speaker.title }}</span>
                                  <span class="company">{{ speaker.company }}</span>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div>
            {% endif %} {% endfor %}
          </div>
        <!-- <a href="{{ site.c4pUrl }}" class="bottom-section-link btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Become a speaker</a> -->
    </div>
</section>
<!-- End Speakers List 2 -->
