<!-- Begin Speakers List-->
{% assign keynote_speaker = site.data.speakers | where: 'id', '1' %}
{% assign all_speakers_without_keynote = site.data.speakers | where_exp: 'speaker', 'speaker.id != "1"' | sort: "surname" %}
{% assign all_speakers = keynote_speaker | concat: all_speakers_without_keynote %}
<section id="speakers" class="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row text-left appear-animation-trigger">
                {% for speaker in all_speakers %}{% if speaker.mc != true %}
                <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
                    <div class="lily-effect ribbon-activator">
                        <div class="lily-head" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                            <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}); background-position: center 30%;">
                                <div class="overlay solid-overlay"></div>
                                {% if speaker.ribbon != null %}
                                <ul class="ribbon-wrapper">
                                    {% for ribbon in speaker.ribbon %}
                                    <li class="{{ ribbon["abbr"] | downcase }}">
                                        <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                        <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% if site.showSessions %}
                                <figcaption>
                                    <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                    <p class="position">{{ speaker.company }}</p>
                                </figcaption>
                                {% endif %}
                            </figure>
                        </div>
                        <div class="lily-bottom">
                            <ul class="slider">
                                {% assign sessionsNumber = 0 %}
                                {% if site.showSessions %}
                                    {% for session in site.data.sessions %}
                                        {% for session_speaker in session.speakers %}
                                            {% if session_speaker == speaker.id %}
                                            {% assign sessionsNumber = sessionsNumber | plus: 1 %}
                                                <li class="title slider-item animated fadeInRight hidden">{{ session.title }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                    <p class="position">{{ speaker.company }}</p>
                                {% endif %}
                            </ul>
                            <a href="#" class="slider-next-item {% if sessionsNumber < 2 %}hidden{% endif %}">Next</a>
                        </div>
                    </div>
                </div>
                {% endif %}{% endfor %}
            </div>
            <h2>MCs</h2>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row text-left appear-animation-trigger">
                    {% for speaker in all_speakers %}{% if speaker.mc == true %}
                    <div class="effect-wrapper appear-animation col-md-4 col-sm-6 col-xs-12">
                        <div class="lily-effect ribbon-activator">
                            <div class="lily-head" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
                                <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}); background-position: center 30%;">
                                    <div class="overlay solid-overlay"></div>
                                    {% if speaker.ribbon != null %}
                                    <ul class="ribbon-wrapper">
                                        {% for ribbon in speaker.ribbon %}
                                        <li class="{{ ribbon["abbr"] | downcase }}">
                                            <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                            <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if site.showSessions %}
                                    <figcaption>
                                        <h2 class="name">{{ speaker.name }} <span>{{ speaker.surname }}</span></h2>
                                        <p class="position">{{ speaker.company }}</p>
                                    </figcaption>
                                    {% endif %}
                                </figure>
                            </div>
                        </div>
                    </div>
                    {% endif %}{% endfor %}
                </div>
        </div>
    </div>
</section>
<!-- End Speakers List -->