<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Partners</h3>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-x.svg" alt="sponsor-2">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/intel.png" alt="sponsor-3">
                    </a>
                </li>
            </ul>
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
			     <a href="mailto:{{ site.email }}">Be a Partner&nbsp;-&nbsp;Join Us&nbsp;!</a>
            </span>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
