<!-- Begin Statistic Section -->
<section id="statistic" class="statistic image-section parallax" style="background-image: url({{ site.baseurl }}/img/statistic.jpg);">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat"><span class="timer" data-from="0" data-to="350">350</span>+</div>
					<div class="stat-info">attendees</div>
					<hr>
					<p class="small">from everywhere</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat"><span class="timer" data-from="0" data-to="48">48</span>+
					</div>
					<div class="stat-info">hours</div>
					<hr>
					<p class="small">of pure Google technologies</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat"><span class="timer" data-from="0" data-to="20">20</span>+</div>
					<div class="stat-info">speakers</div>
					<hr>
					<p class="small">from country and beyond</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="timer" data-from="0" data-to="3">3</span>
					</div>
					<div class="stat-info">parallel tracks</div>
					<hr>
					<p class="small">plus entertainment lounge</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Statistic Section -->