<!-- Begin Tickets Section -->
<section id="tickets" class="tickets image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.ticketsBgImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
            <h3>{{ site.ticketsTitle }}</h3>
            <iframe id="haWidget"></iframe>
            <div style="width:100%;text-align:center;">Propulsé par <a href="https://www.helloasso.com" rel="nofollow">HelloAsso</a></div>
        </div>
    </div>
    <script>
         $(function(){
            $("#haWidget").attr('src', "https://www.helloasso.com/associations/agile-cote-basque/evenements/agile-pays-basque-2017/widget");
        });
    </script>
</section>

<!-- End Tickets Section -->
