<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="parallax" style="background-image: url({{ site.baseurl }}/img/twitter-feed.jpg);">
    <div class="overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h3>Stay Updated <a href="https://twitter.com/search?q=%23{{ site.twitterHashTag }}" target="_blank">#{{ site.twitterHashTag }}</a>
            </h3>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
