<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h3>{{ site.tweetsFeedTitle }} <a href="https://twitter.com/search?q=%23{{ site.twitterHashTag }}" target="_blank">#{{ site.twitterHashTag }}</a>
            </h3>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>
    <a class="twitter-timeline" data-lang="fr" data-height="500" data-theme="dark" href="https://twitter.com/agilepb">Tweets by agilepb</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
<!-- End Twitter Feed Section -->