<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Venue</h3>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem venue-big-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/venue_0.jpg)"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="150" style="background-image: url({{ site.baseurl }}/img/venue/venue_1.jpg)"></div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>Kinopalace Cinema</h5>
                            <p>3 huge cinema screens</p>
                            <p>Doulby Digital Surround EX audio system</p>
                            <p>Located directly in the city center</p>
                        </div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/venue_2.jpg)"></div>
                    </div>
                    <div class="venue-elem-wrapper col-xs-6 visible-xs">
                        <div class="venue-elem venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/venue_3.jpg)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Venue Section -->
