<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.venueBlockTitle }}</h3>
            <div class="row venue-row">
              <div class="venue-col">
                <p>
                  MenderCon 2020 is a virtual event that's being hosted on the
                  <a href="https://hopin.to">Hopin</a> platform. You get to attend
                  from the location of your choice, while still getting some of
                  the benefits of attending a conference in person. You'll get
                  to meet new people, have great conversations, see some amazing
                  talks, and create your own sessions.
                </p>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- End Venue Section -->
