@font-face {
    font-family: 'WC Mano Negra';
    src: url('../fonts/WCManoNegraBta-webfont.eot');
    src: url('../fonts/WCManoNegraBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WCManoNegraBta-webfont.woff') format('woff'),
         url('../fonts/WCManoNegraBta-webfont.ttf') format('truetype'),
         url('../fonts/WCManoNegraBta-webfont.svg#wc_mano_negra_btaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
