section#home:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0,0,0,0) linear-gradient(to bottom,rgba(255,255,255,0) 50%,rgba(0,0,0,.4) 75%,rgba(0,0,0,.8) 100%) repeat scroll 0 0;
}