.top-section-hero {
    width: 100%;
    height: 100%;
    padding-top: 0;
    .jumbotron {
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        p {
            font-size: $base-font-size * 2;
            font-weight: $light;
            margin-bottom: 15px;
        }
    }
}
.explore {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transition: $base-transition;
    transform: translateX(-50%);
    @media (max-width: 767px) {
        transform: translateY(20px);
    }
}
.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: #e6e6e6;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}