.top-section-hero {
    width: 100%;
    height: 100%;
    padding-top: 0;
    .jumbotron {
        position: relative;
        top: 50%;
        margin: 0;
        left: 0;
        transform: translateY(-60%);
        @media (max-width: 767px) {
            margin: 0;
            padding: 0;
        }
        p {
            font-size: $base-font-size * 2;
            line-height: $base-font-size * 2;
            font-weight: $regular;
            margin-bottom: 15px;
            text-shadow: 2px 2px rgba(28, 27, 31, 0.81);
        }
        .btn {
           margin:0 3px 10px;
        }
        .logo {
            &.logo-big {
                margin: 20px auto 0;
                background-size: 100% auto;
                width: 450px;
                height: 340px;
                @media (max-width: 767px) {
		            width: 130px;
    				height: 97px;
		        }
            }
            &.logo-name {
                margin: 20px auto 0;
                background-size: 100% auto;
                width: 330px;
                height: 155px;
                @media (max-width: 767px) {
		            width: 100px;
				    height: 45px;
				    margin: 10px auto 20px;
		        }
            }
        }
    }
}
.typeout-fallback {
    display: none;
    @media (max-width: 767px) {
        display: inline-block;
    }
}
.explore {
    margin-left: -16px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    animation: callToAction 3.5s linear 0s infinite;
    @media (max-width: 767px) {
        margin-left: -12.5px;
        bottom: 30px;
        animation: none;
    }
}
.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: #e6e6e6;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}
@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}