.how-to-arrive{
    li{
        list-style-type: none;
        list-style-position: inside;
    }
    ul{
        text-align: left;
        margin-left: 4em;
        padding-left: 0;
        margin-top: 2em;
    }
    h4 {
        color: $main-color;
    }
}