.location-map {
    h3 {
        margin-bottom: 0;
    }
    min-height: 800px;
}

.hotel-location-map{
    h3 {
        margin-bottom: 0;
    }
    padding-top: 0;
    min-height: 600px;
}


.location-description {
    margin: 1em 2em 0 2em;
    time {
        display: inline-block;
    }
    p{
        font-weight: $light;
        font-size: 20px;
    }
}
.canvas-map {
    position: absolute;
    top: 21em;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hotel-canvas-map {
    position: absolute;
    top: 8em;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.strong{
    font-weight: $bold;
}