.partners  {
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        margin-bottom: 65px;
        li {
            width: 25%;
            max-width: 350px;
            margin: 13px 7px;
            @media (max-width: 767px) {
                width: 40%;
                max-width: 160px;
            }
        }
    }
    img {
        width: 100%;
        transition: $base-transition;

    }
}