$prize-img-width: 250px;
$small-prize-img-width: 110px;

.prizes {
	h3 {
		margin-bottom: 20px;
	}
}
.prize {
	margin-top: 50px;
	&:nth-child(3) {
		margin-top: 0;
	}
}
.prize-img-wrapper {
	img {
		max-width: $prize-img-width;
		margin: 0 auto;
        @media (max-width: 767px) {
            max-width: $small-prize-img-width;
        }
	}
}