.rockstar-speakers {
    .rockstar-speaker {
        padding-bottom: 13px;
    }
    .rockstar-speaker-img {
        width: 140px;
        height: 140px;
        margin: 0 auto;
    }
    .name {
        font-size: $base-font-size * 2;
        line-height: 1.1;
        margin: 10px 0 2px;
    }
    .sub {
        font-size: $base-font-size * 1.4;
        margin: 0 0 15px;
        color: $link-color;
    }
}