#speakers-pay-off {
  text-align: center;
  padding-top: 30px;
  margin-bottom: -20px;
  @media (max-width: 767px) {
    margin-bottom: 6px;
  }
}

#speakers-subtitle {
  font-style: italic;
  text-align: center;
  padding: 20px 20px 20px 0;
  @media (max-width: 767px) {
    margin-bottom: 6px;
  }
}