.team {
	h3 {
	    margin-bottom: 26px;
	}
	h4 {
	    margin: 50px 0 20px;
	    text-align: center;
   }

   .zoe-effect {
      height: 410px;

      figure {
         background-repeat: no-repeat;
         background-size: cover;
      }
   }
}


