.top-section {
    position: relative;
    min-height: 400px;
    padding-top: 0;
    background: $base-section-background-color;
    @media (max-width: 767px) {
        min-height: 200px;
        padding: 0;
    }
    .gradient-overlay {
        opacity: 0;
    }
    &.enable-overlay .gradient-overlay {
        opacity: 1;
    }
}
.jumbotron {
    position: relative;
    left: 26px;
    margin: 200px 0 0 0;
    color: #fff;
    background: 0;
    @media (max-width: 767px) {
        left: 13px;
        margin-top: 100px;
        padding-left: 0;
        padding-bottom: 5px;
    }
    @media screen and  (min-width: 768px) {
        padding-bottom: 0;
    }
}