{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Probable Agenda</b></h7>
   <ul>

<li><b>2:00 - 2:15</b> - Registro</li>
<li><b>2:15 - 3:00</b> - Charlas de Bienvenida: Introducción a ng-girls y Angular</li>
<li><b>3:00 - 4:00</b> - Codear</li>
<li><b>4:00 - 4:30</b> - Descanso </li>
<li><b>4:30 - 5:30</b> - Más código </li>
<li><b>5:30 - 6:00</b> - Cierre del Evento</li>
                </ul>
</div>
