{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
  <p>
   ¿Eres una mujer interesada en aprender cómo construir aplicaciones web con las últimas tecnologías?
     Tenemos buenas noticias para ti: ¡Tendremos un taller de un día para principiantes!
     Se llevará a cabo el <b>Sábado,11 de Noviembre, en <a href="http://yuxiglobal.com" target="_blank">Yuxi Global</a>,Centro empresarial ciudad del rio, Medellín</b>.
  </p>
  <p>
   Creemos que la industria de TI se beneficiará mucho de traer más mujeres a la tecnología.
   Queremos darte una oportunidad para aprender a programar y convertirte en una programadora.
  </p>
  <!--  <p>
      <b>Angular 2</b> is an open-source platform for building web application, developed by Google and the community.
      It gives various tools to easily create a dynamic, interactive app that can run on desktop browses, mobile and even Arduino!
      <a href="{{ AngularUrl }}">Why we love Angular 2</a>
    </p>-->
  <p>
   Durante el taller, construirás y desplegarás tu primera aplicación web </b>
   Angular es una plataforma de código abierto para la creación de aplicaciones web, desarrollada por Google y la comunidad.
   Ofrece diversas herramientas para crear fácilmente una aplicación dinámica e interactiva que puede ejecutarse en navegadores de escritorio, móviles e incluso robots.
    <!--
        Then, a few days later, you will join the Angular community at <b>AngularUP international conference!</b>
    -->
  </p>
  <p>
    Para participar en el taller necesitarás algunos conocimientos básicos en desarrollo web:
    HTML, CSS y JavaScript básico o cualquier otro lenguaje de programación.
    Si eres un principiante total, aquí hay algunos  <a href="http://pionerasdev.co/recursos/">recursos</a> que puedes mirar.
  </p>
  <p>
    El taller <b>no tiene costo</b>. Sólo llena el <a href="{{ site.data.colombia.applicationForm }}" target="_blank">formulario de  Inscripción. </a>
  </p>
  <p>
    No esperes demasiado - <b>puedes aplicar hasta el 7 de Noviembre, 2017!</b>
    <!--<b>Applications closed on January 29th, 2017.</b>-->
    <br>Te invitamos a unirte <a href="https://www.meetup.com/es-ES/Angular-Medellin/" target="_blank">al grupo de meetup de Angular Medellín</a> para recibir información sobre futuros eventos.
  </p>
  <p>
    Para mas información sobre ngGirls @ NGColombia Medellín <a href="mailto:medellin@ng-girls.org">contáctanos</a>
  </p>
</div>
