{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Probable schedule</b></h7>
   <ul>

<li><b>10:00 - 10:15</b> - check in</li>
<li><b>10:15 - 11:00</b> - opening lecture: introduction to ngGirls and Angular</li>
<li><b>11:00 - 13:00</b> - coding</li>
<li><b>13:00 - 14:00</b> - lunch break</li>
<li><b>14:00 - 16:30</b> - continue coding</li>
<li><b>16:30 - 17:00</b> - closing lecture and goodbyes</li>
                </ul>
</div>