{% assign sponsorsUrl = site.baseurl | append: site.c4sponsorsUrl %}

<div class="post-body">
  <p>¡Por supuesto! Hay varias maneras en que puedes ayudar: </p>
  <ul>
    <li>
      <b>Mentores</b> - tienes un gran impacto en la experiencia de los participantes.
       Si puedes ofrecerte como voluntario en el taller y brindar apoyo en los días antes y después, ¡nos encantaría tenerte!
       No necesitas ser un experto en angular, solo un desarrollador web.
      <a href="{{ site.data.colombia.mentorsForm }}" target="_blank">Aplicar para mentor</a>
    </li>
    <li>
      <b>Patrocinios</b> - ¡Con tu ayuda podemos hacer que nuestros eventos sean verdaderamente increíbles! Desde boletos de financiación a conferencias de Angular,
        o suministro de almuerzo, o la provisión de recuerdos - muchas oportunidades para ayudar.
      <!--ngGirls has <b>sponsorship collaboration with <a href="http://angular-up.com/" target="_blank">AngularUP</a> - </b>
      you can receive a <b>Bronze or a Diversity plan</b> at AngularUP by supporting ngGirls!-->

      <!--<a href="{{ sponsorsUrl }}">Call for Sponsors</a>!-->
    </li>
    <li>
      <b>Cualquier persona</b> - Hay muchas otras formas de ayudarnos. Nos encantaría escuchar sus ideas y / o asignarle algunas tareas.
       ¡Muchísimas gracias de antemano!
    </li>
  </ul>
  <p>No seas tímido, solo <a href="mailto:info@ng-girls.org">contáctanos</a></p>
</div>
