<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.aboutHackathonTitle }}</h3>
            {% for row in site.hackathonRows %}
            {% assign check = forloop.index0 | modulo:2 %}
            <div class="hackathon-row {% if check == 0 %}float-left{% else %}float-right{% endif %} col-md-12">
                <div class="hackathon-img-wrapper animated hiding" data-animation="{% if check == 0 %}fadeInLeft{% else %}fadeInRight{% endif %}" data-delay="0">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ row.image }}" alt="Hackathon">
                </div>
                <div class="hackathon-details animated hiding" data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                    <h4>{{ row.title }}</h4>
                    <p>{{ row.details }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End About Hackathon Section -->
