<!-- Begin Rockstar Speakers Section -->
<section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title">{{ site.rockstarSpeakersTitle }}</h3>
			<div class="clearfix"></div> 
			<span class="bordered">
				<a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.rockstarSpeakersButtonText }}</a>
			</span>
		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->