<script type="application/ld+json">
    [{
        "@context" : "http://schema.org",
        "@type" : "Event",
        "name" : "{{ site.title }}",
        "description": "{{ site.description }}",
        "image" : "{{ site.socialImageSrcGooglePlus | prepend: site.baseurl | prepend: site.url }}",
        "url" : "{{ site.url }}",
        "startDate" : "{{ site.eventStartTime }}",
        "doorTime" : "{{ site.eventDoorTime }}",
        "endDate" : "{{ site.eventEndTime }}",
        "location" : {
            "@type" : "Place",
            "name" : "{{ site.eventLocationName }}",
            "sameAs" : "{{ site.eventLocationLink }}",
            "address" : {
                "@type" : "PostalAddress",
                "streetAddress" : "{{ site.eventStreetAddress }}",
                "addressLocality" : "{{ site.eventAddressLocality }}",
                "addressRegion" : "{{ site.eventAddressLocalityRegion }}",
                "postalCode" : "{{ site.eventPostalCode }}",
                "addressCountry" : "{{ site.eventAddressCountry }}"
            },
            "geo" : {
                "@type" : "GeoCoordinates",
                {% assign coordinates = site.eventPlaceCoordinates | split:"," %}
                "latitude" : "{{ coordinates[0] }}",
                "longitude" : "{{ coordinates[1] }}"
            }
        },
        // Not supported yet
        // "organizer" : {
        //     "@type" : "Organization",
        //     "name" : "{{ site.organizerName }}",
        //     "alternateName" : "{{ site.organizerAlternateName }}",
        //     "description" : "{{ site.organizerDescription }}",
        //     "logo" : "{{ site.organizerLogo | prepend: site.baseurl | prepend: site.url }}",
        //     "email" : "{{ site.organizerEmail }}",
        //     "sameAs" : "{{ site.organizerLink }}"
        // },
        "subEvent" : {
            "@type" : "Event",
            "name" : "{{ site.hackathonTitle }}",
            "description": "{{ site.hackathonRows[0].details }}",
            "image" : "{{ site.socialImageSrcGooglePlus | prepend: site.baseurl | prepend: site.url }}",
            "url" : "{{ site.url | append: site.baseurl }}/hackathon/",
            "startDate" : "{{ site.hackathonStartTime }}",
            "doorTime" : "{{ site.hackathonDoorTime }}",
            "endDate" : "{{ site.hackathonEndTime }}",
            "location" : {
                "@type" : "Place",
                "name" : "{{ site.hackathonLocationName }}",
                "sameAs" : "{{ site.hackathonLocationLink }}",
                "address" : {
                    "@type" : "PostalAddress",
                    "streetAddress" : "{{ site.hackathonStreetAddress }}",
                    "addressLocality" : "{{ site.hackathonAddressLocality }}",
                    "addressRegion" : "{{ site.hackathonAddressLocalityRegion }}",
                    "postalCode" : "{{ site.hackathonPostalCode }}",
                    "addressCountry" : "{{ site.hackathonAddressCountry }}"
                },
                "geo" : {
                    "@type" : "GeoCoordinates",
                    {% assign hackathonCoordinates = site.hackathonPlaceCoordinates | split:"," %}
                    "latitude" : "{{ hackathonCoordinates[0] }}",
                    "longitude" : "{{ hackathonCoordinates[1] }}"
                }
            }
        },
        "offers" : [
        {% for ticketsOffer in site.ticketsOffers %}
        {
            "@type" : "Offer",
            "name" : "{{ ticketsOffer.name }}",
            "url" : "{{ ticketsOffer.buyButtonLink }}",
            "price" : "{{ ticketsOffer.price }}",
            "priceCurrency" : "{{ ticketsOffer.priceCurrency }}",
            "validFrom" : "{{ ticketsOffer.validFrom }}",
            "validThrough" : "{{ ticketsOffer.validThrough }}"
        }{% if forloop.index != forloop.length %},{% endif %}
        {% endfor %} 
        ],
        "performer" : [ 
        {% for speaker in site.data.speakers %}
        {
            "@type" : "Person",
            "name" : "{{ speaker.name }} {{ speaker.surname }}",
            "image" : "{{ site.url | append: site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}",
            "jobTitle" : "{{ speaker.title }}",
            "worksFor" : {
                "@type" : "Organization",
                "name" : "{{ speaker.company }}"
            },
            "sameAs" : "{{ speaker.social[0].link }}"
        }{% if forloop.index != forloop.length %},{% endif %}
        {% endfor %}  
        ],
        "eventStatus" : "EventScheduled",
        "typicalAgeRange" : "16+"
    }]
    </script>