// Font weights
$light: 200;
$regular: 400;
$bold: 500;
$extra-bold: 600;

// Base Font
$base-font-family: 'Montserrat', sans-serif;
$base-font-weight: $regular;
$base-font-size: 15px;
$base-line-height: 23px;

// Fixed Font
$fixed-font-family: 'Roboto';
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $light;
$h1-font-size: 6.125 * $base-font-size;
$h2-font-size: 5.875 * $base-font-size;
$h3-font-size: 5 * $base-font-size;
$h4-font-size: 3.125 * $base-font-size;
$h5-font-size: 2.3 * $base-font-size;
$h6-font-size: 1.875 * $base-font-size;

// Colors
$main-color: #63A70A;
$primary-color: #63A70A;
$primary-color-hover: rgb(77, 128, 10);
$link-color: $main-color;
$link-lighten-amount: 10%;
$base-background-color: #fff;
$base-section-background-color: $link-color;

$icon-fill-color: #8b8b8b;

// Sizes
$min-section-height: 300px;
$section-padding-top: 2em;
$section-padding-bottom: 2em;
$small-section-padding-top: 1em;
$small-section-padding-bottom: 1em;

// Global variables
$base-transition: all .3s;
$base-cubic-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
$long-transition: all .5s;
$long-cubic-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Path
$image-dir: "../img";
$sprites-dir: $image-dir + "/sprites";
$logos-sprite: $sprites-dir + "/pstqb-final-transp.png"; 