section {
    h3 {
        margin-bottom: 0.5em;
        margin-top: 1em;
        font-size: 35px;
        color: $main-color;
    }
    
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 50px;
        color: $main-color;
    }
}
    


