.hero {
    height: 600px;
    background-size: cover;
    .jumbotron {
        padding: 0;
        margin: 0;
        background: 0;
        height: 100%;
        .container {
            height: 100%;
        }
    }
}