.speakers {
    background-color:#e2f599
}

.speaker-circle {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
}

.speaker-name {
    font-size: 26px;
    line-height: 1.1;
    margin: 10px 0 2px;
    font-weight: 800;
}

.speaker-company {
    color: black;
    font-size: 16px;
    font-weight: 600
}