.sponsors  {
    
    img {
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    img:hover {
      opacity: 0.6;
    }

}
