<!-- Begin Organizing Team Section -->
<section id="organizing-team" class="rockstar-speakers image-section parallax"
         style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.organizingTeamImage }});">
  <div class="overlay solid-overlay"></div>
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
      <h3 id="organizing-team-title">Meet the Mentors</h3>

      {% assign animationDelay = 0 %}
      {% for member in site.data.karachi.mentors %}
      {% assign colWidth = 3 %}
      {% assign memberImage = site.baseurl | append: '/img/karachi-mentors/' | append: member.thumbnailUrl %}
      <div class="col-md-{{ colWidth }} col-xs-6 rockstar-speakers-item animated hiding"
           data-animation="fadeInUp"
           data-delay="{{ animationDelay }}">
        <div class="lily-head" data-toggle="modal" data-target="#mentorDetailFrontendCon-{{ member.id }}">
          <div class="rockstar-speaker">
            {% if member.link %}
              <a href="{{ member.link }}" target="_blank">
            {% else %}
              <a href="#">
            {% endif %}
            <div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ memberImage }})"></div>
            <div class="name">{{ member.name }} {{ member.surname }}</div>
            <p>{{ member.role }}</p>
          </a>
          <br />
          </div>
        </div>
      </div>

      {% assign animationDelay = animationDelay | plus:50 %}
      {% assign check = forloop.index | modulo:2 %}
      {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
      {% endfor %}

    </div>
  </div>
</section>
<!-- End Organizing Team Section -->