{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Probable schedule</b></h7>
   <ul>

<li><b>9:30</b> - check in</li>
<li><b>9:45</b> - opening lecture: introduction to ngGirls and Angular</li>
<li><b>10:15</b> - tea and networking</li>
<li><b>10:30</b> - workshop begins</li>
<li><b>13:00</b> - lunch break</li>
<li><b>14:00</b> - workshop resumes</li>
<li><b>16:00</b> - closing lecture and goodbyes</li>
<li><b>16:30</b> - tea and networking</li>
<li><b>17:00</b> - goodbye</li>

                </ul>
</div>