{% assign faqUrl = site.baseurl | append: '/faq' %}
{% assign AngularUrl = site.baseurl | append: '/faq' %}
{% assign resourcesUrl = site.baseurl | append: '/faq' %}

<div class="post-body">
 <h7><b>Probable schedule</b></h7>
   <ul>
    <li><b>09:20 - 09:45</b> - check in</li>
    <li><b>09:45 - 10:15</b> - opening lecture: introduction to ngGirls and Angular</li>
    <li><b>10:15 - 11:15</b> - coffee break</li>
    <li><b>11:15 - 13:45</b> - coding</li>
    <li><b>13:45 - 14:45</b> - lunch break</li>
    <li><b>14:45 - 16:40</b> - continue coding</li>
    <li><b>16:40 - 17:00</b> - closing lecture and goodbyes</li>
  </ul>
</div>