{% assign sponsorsUrl = site.baseurl | append: site.c4sponsorsUrl %}

<div class="post-body">
  <p>Of course! There are several ways you can help: </p>
  <ul>
    <li>
      <b>Mentors</b> - you have a great impact on the participants' experience.
      If you can volunteer at the workshop and give some support on the days before and after, we'd love to have you!
      You don't need to be an Angular expert - just a web developer.
      <a href="{{ site.data.galicia.mentorsForm }}" target="_blank">Call for Mentors</a>
    </li>
    <li>
      <b>Sponsors</b> - with your help we can make our events truly awesome! From funding tickets to Angular conferences,
      through supplying lunch, to providing swag - lots of opportunities to help.
      <!--ngGirls has <b>sponsorship collaboration with <a href="http://angular-up.com/" target="_blank">AngularUP</a> - </b>
      you can receive a <b>Bronze or a Diversity plan</b> at AngularUP by supporting ngGirls!-->

      <a href="{{ sponsorsUrl }}">Call for Sponsors</a>
    </li>
    <li>
      <b>Anyone</b> - There are many other ways to help us. We'd love to hear your ideas and/or assign you some chores.
      Huge thanks in advance!
    </li>
  </ul>
  <p>Don't be shy, just <a href="mailto:info@ng-girls.org">contact us</a></p>
</div>