<!-- Begin Location Section -->
<section id="location" class="latest-news">
    <div class="content-wrapper">
        <div class="col-lg-12">
            <h3>{{ site.data.galicia.locationTitle }}</h3>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11815.658574111705!2d-8.7196033!3d42.2376365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c679db099dd2018!2sEscola+Municipal+de+Artes+e+Oficios!5e0!3m2!1sen!2ses!4v1518001811828" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<!-- End Location Section -->