<section id="description" class="latest-news">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3>{{ site.data.angular-connect2018.descriptionTitle }}</h3>
      <p>We believe that the IT industry will greatly benefit from bringing more women into technology.<br />
        We want to give you an opportunity to learn how to program and become a programmer.
      </p>
      <p>Our plan is to offer a workshop in London before
        <a href="https://www.angularconnect.com/?utm_source=ng-girls.org&utm_medium=referral&utm_content=ng-girls&utm_campaign=workshops" target="_blank">AngularConnect</a>.</p>
      <hr>
    </div>
  </div>
</section>