.logo{background-image:url("../img/sprites/pstqb-final-transp.png");background-repeat:no-repeat;background-position:0 0}.logo{float:left;width:185px;height:60px;margin-right:20px;vertical-align:middle}
@media (max-width: 767px){.logo{-webkit-transform:scale(0.6);transform:scale(0.6)}}
