<div class="container font_7">
    <div class="row text-center">
        <div class="col">
            <img
                src="https://static.wixstatic.com/media/928ecf_4e57ddd90be444e4a5542be18bba664d.png/v1/fill/w_610,h_119,al_c,q_80,usm_0.66_1.00_0.01/928ecf_4e57ddd90be444e4a5542be18bba664d.webp">
        </div>

    </div>
    <div class="row mt-2">
        <div class="col">
            <h2 style="font-size:20px;"><span style="font-weight:normal;"><span style="font-size:15px;">A&nbsp;IDC
                        Portugal&nbsp;e a&nbsp;PSTQB – Associação Portuguesa de
                        Testes de Software&nbsp;realizaram&nbsp;no passado&nbsp;dia&nbsp;24 de Novembro de 2015,
                        no&nbsp;SANA Malhoa Hotel, em Lisboa, a 6ª edição da conferência&nbsp;TESTING
                        Portugal.</span></span></h2>

            <p style="font-size:15px; text-align:justify;"><span style="font-size:15px;">Sob o tema "The
                    Role of Quality Assurance and Testing in Digital Transformation – Sharing Experiences", a
                    conferência contará com intervenções de reconhecidos especialistas nacionais e internacionais e com
                    a apresentação de casos de excelência.</span></p>

            <p style="font-size:15px; text-align:justify;"><span style="font-size:15px;">A área de Testes
                    acompanha a indústria de software na evolução e adaptação a novos paradigmas. A
                    conferência&nbsp;TESTING Portugal&nbsp;proporciona oportunidade, para muitos única, de acesso ao
                    conhecimento disponibilizado por alguns dos internacionalmente reconhecidos e conceituados gurus da
                    área de testes.</span></p>

            <p style="font-size:15px; text-align:justify;"><span style="font-size:15px;">O objetivo da
                    conferência é permitir que profissionais focados na qualidade do seu software possam&nbsp;trocar
                    experiências&nbsp;com alguns dos maiores gurus internacionais,&nbsp;conhecer as novas
                    tendências&nbsp;na área para melhor se prepararem para as acolher e&nbsp;partilhar as suas próprias
                    experiências&nbsp;pessoais com a comunidade.</span></p>

            <p style="font-size:15px; text-align:justify;"><span style="font-size:15px;">A conferência é
                    dirigida a todos os profissionais envolvidos na&nbsp;Garantia da Qualidade do Software, desde
                    o&nbsp;Software Tester, passando pelo&nbsp;Test Manager, até ao próprio decisor – CEO e CIO.</span>
            </p>

            <p style="font-size:15px; text-align:justify;"><span style="font-size:15px;">Estarão
                    presentes um variado leque de empresas, representativas do nosso tecido empresarial em todas as suas
                    vertentes:&nbsp;geográfica&nbsp;– de Braga a Lisboa, passando por Coimbra;&nbsp;área de
                    negócio&nbsp;– Financeiro, Administração Pública, Telecomunicações e Media, Manufactura e
                    Distribuição, e outros;dimensão&nbsp;(pequenas, médias e grandes empresas); de empresas já
                    estabelecidas no mercado a start-ups.</span></p>

            <p style="font-size:15px; text-align:justify;"><span style="font-size:15px;">A conferência é
                    aberta a&nbsp;clientes finais&nbsp;bem como a&nbsp;prestadores de serviços.</span></p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h2 class="font_2" style="font-size:20px;">TEMAS EM DEBATE</h2>


            <p style="font-size:15px;" class="font_7"><span style="font-size:15px;">A conferência&nbsp;TESTING
                    Portugal&nbsp;estará focada nos seguintes temas:</span></p>

            <ul class="font_8">
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Tendências</span></p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Cloud</span></p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Big Data</span></p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Mobile</span></p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Metodologias e
                            Práticas</span>
                    </p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Otimização dos Processos de
                            Teste</span></p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Organização e Gestão de
                            Equipas</span></p>
                </li>
                <li>
                    <p style="font-size:15px;" class="font_8"><span style="font-size:15px;">Partilha de Experiências em
                            diversas Áreas de Inovação em Testes</span></p>
                </li>
            </ul>

            <p style="font-size:15px;" class="font_7"><span style="font-size:15px;">Para além da conferência existirá
                    uma&nbsp;área de exposição&nbsp;dedicada aos temas acima enumerados.</span></p>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col">
            <h2 style="font-size:20px;" class="font_2"><span style="font-size:20px;">INSCRIÇÃO</span></h2>

            <p style="font-size:15px;" class="font_7"><span style="font-size:15px;">Inscrição no valor de 65,00 Euros.
                    Inclui acesso à conferência, documentação e refeições.<br>
                    <br>
                    Inscrição gratuita&nbsp;para profissionais com convite da IDC ou de um patrocinador do evento, e
                    para associados da PSTQB.</span></p>

            <p style="font-size:15px;" class="font_7"><span style="font-size:15px;">Inscrição OBRIGATÓRIA&nbsp;através
                    do&nbsp;formulário online&nbsp;ou pelo email&nbsp;portugal@idc.com.&nbsp;Inscrição válida após
                    confirmação da IDC. Número de inscrições limitado à lotação da sala.</span></p>

            <p style="font-size:15px;" class="font_7"><span style="font-size:15px;">Caso não receba a confirmação da
                    inscrição no prazo máximo de 48 horas úteis, entre em contacto com a IDC através do número de
                    telefone&nbsp;+351 21 723 06 22.</span></p>
        </div>
    </div>

</div>
</div>
<hr>