<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.data.y2018.conf.organizersTitle }}</h3>
            {% for organizer in site.data.y2018.organizers %}
            <h5>{{ organizer.group }}</h5>
            <ul class="list-inline">
                {% for element in organizer.elements %}
                <li {% if element.width !=null %}style="width: {{ element.width }};" {% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.data.y2018.conf.baseurl }}/img/organizers/{{ element.imageUrl }}" title="{{ element.description }}"
                            alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <h3>{{ site.data.y2018.conf.sponsorsTitle }}</h3>
            {% for sponsor in site.data.y2018.sponsors %}
            <h4>{{ sponsor.group }}</h4>
            <ul class="flex-list">
                {% for element in sponsor.elements %}
                <li {% if element.width !=null %}style="width: {{ element.width }};" {% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.data.y2018.conf.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}"
                            alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <h3>{{ site.data.y2018.conf.partnersTitle }}</h3>
            <ul class="flex-list">
                {% for element in site.data.y2018.partners %}
                <li {% if element.width !=null %}style="width: {{ element.width }};" {% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.data.y2018.conf.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}"
                            alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            <h4>{{site.academicPartnersTitle}}</h4>
            <ul class="flex-list">
                {% for element in site.data.y2018.academicPartners %}
                <li {% if element.width !=null %}style="width: {{ element.width }};" {% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.data.y2018.conf.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}"
                            alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="{{ site.data.y2018.conf.c4sponsorsUrl | prepend: site.data.y2018.conf.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float"
                target="_blank">{{ site.data.y2018.conf.sponsorsC4sponsorsButton }}</a>
        </div>
    </div>
</section>
<!-- End Partners Section -->