<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="PSTQB">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.metaKeywords }}">
  <meta name="google-site-verification" content="{{ site.siteVerification }}" />
  <link rel="canonical" href="{{ site.url }}">
  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitterAccount }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src"
    content="{{ site.data.y2019.conf.socialImage | prepend: site.data.y2019.conf.baseurl | prepend: site.url }}" />
  <!-- Social: Open Graph -->
  <meta property="og:title" name="title"
    content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" name="image"
    content="{{ site.data.y2019.conf.socialImage | prepend: site.data.y2019.conf.baseurl | prepend: site.url }}" />
  <meta property="og:description" name="description" content="{{ site.description }}" />

  <title>{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="theme-color" content="#2b5797">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d7d7df1fbe.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{{ '/css/main.css' | prepend: site.data.y2019.conf.baseurl }}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{site.data.y2019.conf.baseurl}}/img/favicons/favicon.ico" />
</head>

<body>
  {% include 2019/nav.html %}

  {{ content }}

  {% include 2019/footer.html %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  {% if page.permalink == '/' or page.permalink == '/2019/' %}
  <script src="{{ site.data.y2019.conf.baseurl }}/js/heroAnimation.js"></script>
  {% endif %}

</body>

</html>