<div class="container">
    <div class="col text-justify">
        <h1>Call for Speakers</h1>
        <p>Bom dia,</p>
        <p>A <strong>PSTQB - Associação Portuguesa de Testes de Software</strong> vai organizar mais uma conferência
            inteiramente
            dedicada aos testes: <strong>"Testing Portugal 2019"</strong>-<a
                href="https://testingportugal.pstqb.pt/">https://testingportugal.pstqb.pt/</a>, que conta este ano com a
            sua
            <strong>10ª edição</strong>.</p>
        </p>
        <p> A conferência, que este ano se realiza no dia <strong>19 de novembro</strong>, em Lisboa, destina-se a todos
            os
            profissionais, interessados em testes e garantia de qualidade (testadores certificados, gestores de teste e
            profissionais da área de testes). </p>

        <p> Nesta fase, já abriu a chamada para apresentações no “Call for Speakers”. Este ano a PSTQB decidiu reforçar
            a sua aposta no desenvolvimento da comunidade de testes portuguesa e assumir o compromisso de apoiar o
            crescimento desta mesma comunidade, estendendo-a a profissionais oriundos dos países pertencentes à CPLP*.
            Tendo em consideração esta aposta, a PSTQB vai abrir a iniciativa a candidatos que reúnam pelo menos uma das
            seguintes condições:</p>
        <ul>
            <li>
                Profissionais portugueses ou oriundos de países que pertençam à CPLP*, independentemente do país onde
                exerçam
                a sua atividade;
            </li>
            <li>
                Profissionais estrangeiros que exerçam a sua atividade de testes em Portugal ou em empresas portuguesas,
                independentemente da sua localização geográfica;
            </li>
            <li> Profissionais em empresas globais com escritórios em Portugal.</li>
        </ul>

        <p> Incentivamos o envio de artigos alusivos a temas relacionados com testes de software. Serão valorizadas
            candidaturas que abordem os seguintes temas:</p>
        <ul>
            <li>IA – Inteligência Artificial</li>
            <li>ML – Machine Learning</li>
            <li>IoT – Internet of Things</li>
            <li>Disruptive Test Approaches</li>
            <li>DevOps</li>
            <li>Big Data</li>
            <li>Test Automation</li>
            <li>Security Testing</li>
        </ul>

        <p> A conferência teve uma audiência de aproximadamente <strong>500 participantes em 2018</strong> e este ano, o
            objetivo é
            aumentar esta participação.</p>
        <p class="underline"> Envie a sua submissão de candidatura com as seguintes informações:</p>
        <ul>
            <li>Título;</li>
            <li>Resumo com um máximo de 250 palavras;</li>
            <li>Se a apresentação será em Inglês ou Português;</li>
            <li>Qual a natureza da sua apresentação? (experiência, caso de estudo, pesquisa, inovação);</li>
            <li>A sua experiência em fazer apresentações (quais, quando e onde?);</li>
            <li>Breve descrição de si mesmo.</li>
        </ul>
        <p class="underline"> Se selecionado, será convidado a submeter:</p>
        <ol>
            <li>Artigo com um máximo de 3 páginas (fonte Arial, tamanho 10), incluindo imagens;</li>
            <li>Vídeo com duração máxima de 3 minutos.</li>
        </ol>
        <p> O vídeo será complemento ao artigo, não podendo substituir o mesmo, e deverá focar os seguintes pontos:</p>
        <ul>
            <li>Breve descrição sobre si;</li>
            <li>Breve descrição sobre o tema que se propõe apresentar.</li>
        </ul>
        <p> <strong>O envio do artigo e do vídeo são de caráter obrigatório, sendo que o não envio dos mesmos
                constituirá fator
                de exclusão.</strong></p>

        <p class="underline"> Tenha em atenção as seguintes datas para entrega dos elementos:</p>
        <ul>
            <li>30 de junho - submissão da candidatura (resp. dos candidatos);</li>
            <li>05 de julho – comunicação da aceitação das candidaturas (resp. PSTQB);</li>
            <li>30 de setembro - envio do artigo e vídeo (resp. do candidato);</li>
            <li>11 de outubro – comunicação dos artigos selecionados (resp. da PSTQB);</li>
            <li>11 de novembro - envio da versão final da apresentação a realizar no evento (resp. dos autores dos
                artigos selecionados).</li>
        </ul>

        <p> Todos os elementos deverão ser enviados para o email <a
                href="mailto:testing.portugal@pstqb.pt">testing.portugal@pstqb.pt</a>. Se necessitar de algum
            esclarecimento adicional não hesite em contactar-nos pelo mesmo email.</p>

        <p> A participação na iniciativa “Call for Speakers” <strong>não dará lugar</strong> ao recebimento de qualquer
            compensação
            financeira ou reembolso de despesas eventualmente efetuadas pelos oradores selecionados para estarem
            presentes no dia do evento. No entanto estes ficam desde logo convidados <strong>a assistir a todo o evento
                sem qualquer custo de inscrição no mesmo.</strong></p>

        <p> Estamos ansiosos para recebê-lo no <strong>Testing Portugal 2019</strong>!</p>

        <p style="font-size: 13px"> *Comunidade dos Países de Língua Portuguesa.</p>
    </div>
</div>