<section class="container course">
    <h1>ISTQB<sup>&reg;</sup> ADVANCED</h1>
    <h2>Test Automation Engineer</h2>
    <img class="img-fluid mb-1 mt-1" src="{{ site.data.y2019.conf.baseurl }}/img/course/ISTQB-CTAL-TAE.png"
        alt="ISTQB Test Automation Engineer">
    <div class="row mb-1">
        <div class="col">
            <div name="Introduction" class="text-justify">
                <h3>Introduction</h3>
                <div>
                    The ISTQB<sup>&reg;</sup> Advanced Test Automation Engineer Certificate Course
                    is a three-day course explaining the tasks of a test automation engineer (TAE) in designing,
                    developing, and maintaining automation solitons.
                    The course includes exercises and practice exams to highlight key aspects of the syllabus and
                    to help participants understand and practice the concepts and methods presented.
                    The exam is held in the afternoon on the last day of the course.
                </div>
            </div>
            <div name="Course Objectives" class="text-justify">
                <h3>Course Objectives</h3>
                <div>
                    Provides participants with the knowledge and skills necessary to guide
                    a test automation project. The course focuses on the concepts, methods,
                    tools, and processes for automating dynamic function tests and the
                    relationship of those tests to test management, configuration management,
                    defect management, software development processes and quality assurance.

                    Methods described are generally applicable across variety of software
                    lifecycle approaches (e.g., agile, sequential, incremental, iterative),
                    types of software systems (e.g., embedded, distributed, mobile) and test types
                    (functional and non-functional testing).
                </div>
            </div>
            <div name="Pre-requisites" class="text-justify">
                <h3>Pre-requisites</h3>
                <div>
                    Candidates for the ISTQB<sup>&reg;</sup> Advanced Test Automation
                    Engineer certificate must hold the ISTQB<sup>&reg;</sup> Certified
                    Tester Foundation Level certificate (CTFL).
                </div>
            </div>

        </div>
        <div class="col">
            <div name="Course-content" class="text-justify">
                <h3>Course content (overview)</h3>
                <ol>
                    <li>Introduction and Objectives for Test Automation</li>
                    <li>Preparing for Test Automation</li>
                    <li>The Generic Test Automation Architecture</li>
                    <li>Deployment Risks and Contingencies</li>
                    <li>Test Automation Reporting and Metrics</li>
                    <li>Transitioning Manual Testing to an Automated Environment</li>
                    <li>Verifying the TAS</li>
                    <li>Continuous Improvement</li>
                </ol>
            </div>
            <div name="Exam" class="text-justify">
                <h3>The exam</h3>
                The Advanced Level Test Automation Engineer exam
                comprises 40 multiple choice questions, with a pass
                mark grade of 65% to be completed within 90 minutes.
                Participants that take the exam not in their spoken
                language, will receive additional 25% more time (an additional 23 minutes)
                so a total of 113 minutes.

                The exam is held on the last afternoon of the course.
            </div>
            <div class="text-justify">
                <h3>When</h3>
                From the 11th to the 13th of November 2019.
            </div>
            <div class="text-justify">
                <h3>Where</h3>
                <p>Inoweiser Group, Avenida Marquês de Tomar, nr.º35 - 7º andar 1050-153 Lisboa, PORTUGAL</p>
                <p><i class="fas fa-map-marked"></i><a href="https://goo.gl/maps/aio6U7QZD989RNde8"> Check on google
                        maps</a></p>

            </div>
            <div class="text-justify">
                <h3>More information</h3>
                More information about this certification can be found in the following document:
                <a href="{{ site.data.y2019.conf.baseurl }}/assets/ISTQB_Advanced_TAE.pdf">ISTQB_Advanced_TAE.pdf</a>
            </div>
        </div>
    </div>


    <div class="row text-justify">
        <div class="col">
            <h3>Course trainer</h3>
            <div>
                <p><strong>John Young</strong> Principal Consultant</p>
                <p>John is a Principal Consultant with extensive experience in the development and delivery of ISTQB
                    and ISEB Accredited and bespoke training in the disciplines associated with software testing. John
                    is
                    experienced in test and project management, test process definition, test methods and skills
                    transfer.
                    John’s work assignments have included development and delivery of bespoke training and skills
                    transfer, test management and test process definition for clients in diverse market sectors.</p>
                <p>More information about him can be found in the following document:
                    <a href="{{ site.data.y2019.conf.baseurl }}/assets/john_young.pdf">John_Young.pdf</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-justify">Preços</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Designação</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Valor de venda com exame</th>
                            <td>1620€</td>
                        </tr>
                        <tr>
                            <th scope="row">Valor de venda com Early Bird</th>
                            <td>1458€</td>
                        </tr>
                        <tr>
                            <th scope="row">Associado</th>
                            <td>1215€</td>
                        </tr>
                        <tr>
                            <th scope="row">Associado com Early Bird</th>
                            <td>1053€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-justify">
                <p>Aos valores supramencionados, acresce o I.V.A. à taxa normal em vigor.</p>
                <p id="earlyBird">Data limite <strong>Early Bird</strong>: 21 de outubro</p>
            </div>
        </div>

    </div>

</section>