<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% for navigationLink in site.data.y2019.conf.navigationLinks %}
            <li class="nav-item {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}active{% endif %}">
                <a class="nav-link" href="{{ navigationLink.permalink | prepend: site.data.y2018.conf.baseurl }}">{{ navigationLink.text }}</a>
            </li>
        {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Archive
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for archiveLink in site.archiveLinks %}
                <a class="dropdown-item" href="{{ archiveLink.permaLink }}">{{ archiveLink.text }}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </nav>