<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% for navigationLink in site.data.y2019.conf.navigationLinks %}
      <li
        class="nav-item {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}active{% endif %}">
        <a class="nav-link"
          href="{{ navigationLink.permalink | prepend: site.data.y2019.conf.baseurl }}">{{ navigationLink.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>