<section id="sponsors" class="sponsors">
    <div class="container text-center">
        <h4 class="mb-5">{{ site.data.y2019.conf.sponsorsTitle }}</h4>

        {% for group in site.data.y2019.sponsors %}
        
        <h5 class="sponsorsGroup">{{ group.group }}</h5>
        <div class="row">
        {% for sponsor in group.elements %}

        <div class="col">
            <a href="{{ sponsor.link }}" target="_blank">
                <img src="{{site.data.y2019.conf.baseurl}}/img/sponsors/{{sponsor.imageUrl}}" />
            </a>
        </div>
        {% endfor %}
        {% endfor %}
        </div>




    </div>

</section>

<section id="partners" class="partners">
    

    <div class="container text-center">
        <h4 class="mb-5">{{ site.data.y2019.conf.partnersTitle }}</h4>
        <div class="row">
            {% for partner in site.data.y2019.partners %}
            <div class="col">
                <a href="{{ partner.link }}" target="_blank">
                    <img src="{{site.data.y2019.conf.baseurl}}/img/partners/{{partner.imageUrl}}" />
                </a>
            </div>

            {% endfor %}
        </div>




    </div>

</section>
