<section id="workshops" class="workshops schedule">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Workshops</h3>
                <div class="owl-carousel owl-theme">
                    {% for session in site.data.y2019.sessions %}
                        {% if session.subtype == 'workshop' and session.speakers.size > 0 %}
                        <a href="{{ site.data.y2019.conf.baseurl }}/workshops/">
                            <div class="item track-header-slot">
                                <div class="slot-content">
                                    <span class="slot-date">{{session.date}}</span>
                                    <h5 class="slot-title" itemprop="name">{{ session.title }}</h5>
                                    <ul class="slot-speakers">
                                        {% for speaker in site.data.y2019.speakers %}
                                            {% for session_speaker in session.speakers %}
                                                {% if session_speaker == speaker.id %}
                                                <li itemprop="performer">
                                                    <div class="speaker-img flow-img img-circle" style="background-image: url({{ site.data.y2019.conf.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }})"></div>
                                                <p class="speaker-name">{{ speaker.name }} {{ speaker.surname }}
                                                    <span class="speaker-position">{{ speaker.company }}</span>
                                                </p>
                                                </li>
                                                {% endif %}
                                            {% endfor %}    
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </a>
        </div>
    </div>
</section>