
<section id="workshops" class="workshops schedule">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for session in site.data.y2019.sessions %}
        {% if session.subtype == 'workshop' and session.speakers.size > 0 %}
            {% if forloop.first == true %}
                <li class="nav-item">
                    <a class="nav-link active" id="w{{ session.id }}-tab" data-toggle="tab" href="#w{{ session.id }}" role="tab" aria-controls="w{{ session.id }}" aria-selected="true">{{ session.title }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                        <a class="nav-link" id="w{{ session.id }}-tab" data-toggle="tab" href="#w{{ session.id }}" role="tab" aria-controls="w{{ session.id }}" aria-selected="false">{{ session.title }}</a>
                    </li>
            {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content" id="myTabContent">
        {% for session in site.data.y2019.sessions %}
        {% if session.subtype == 'workshop' and session.speakers.size > 0 %}
            {% if forloop.first == true %}
                <div class="tab-pane fade show active" id="w{{ session.id }}"  role="tabpanel" aria-labelledby="w{{ session.id }}-tab" >
                    {% for description in session.descriptions %}
                        {{ description }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="tab-pane fade" id="w{{ session.id }}" role="tabpanel" aria-labelledby="w{{ session.id }}-tab" >
                    {% for description in session.descriptions %}
                        {{ description }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
      </div>
</section>
