<!-- Begin Hero Section -->
<section id="home" class="top-section-hero top-section image-section parallax"
         style="background-image: url('{{ site.baseurl }}/img/sections-background/AOL_TLV_view.jpg');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <div class="logo logo-big"></div>
            <div class="logo logo-name"></div>
            <!--{% assign heroText = site.heroTitle %}-->
            <!--<h1>{{ heroText }}<span class="hidden-xs"></span></h1>-->
            <p>{{ site.data.tlvJune2017.eventDate }}</p>
            <a href="{{site.data.tlvJune2017.applicationForm}}" target="_blank"
               class="btn btn-primary waves-effect waves-button waves-light waves-float">Apply for the workshop</a>
<!--            <a href="{{site.data.tlvJune2017.mentorsForm}}" target="_blank"
               class="btn btn-primary waves-effect waves-button waves-light waves-float">Call for mentors</a>
            <br>-->
            <a href="{{ site.baseurl }}/assets/ngGirls_sponsors_flyer_TLV_June_2017.pdf" target="_blank"
               class="btn btn-primary waves-effect waves-button waves-light waves-float">Call for sponsors</a>

        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->