<!-- Begin Footer -->
<footer class="container footer">
	<div class="row mt-2">
		<div class="col">
				<p class="text-center"><a href="https://www.pstqb.pt" targer="_blank">PSTQB - Associação Portuguesa de Testes de Software</a></p>
				<p class="text-center">T: {{site.phoneNumber}} | E: <a href="mailto:info@pstqb.pt">info@pstqb.pt</a> | S: <a href="https://www.pstqb.pt">www.pstqb.pt</a></p>
		</div>
		
	</div>
	<div class="row justify-content-center mt-2">
		<a class="col-1" href="{{site.data.y2017.socialLinks.facebook}}"><i class="fab fa-facebook-f"></i></a>
		<a class="col-1" href="{{site.data.y2017.socialLinks.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
		<a class="col-1" href="{{site.data.y2017.socialLinks.twitter}}"><i class="fab fa-twitter"></i></a>
	</div>
	<div class="row mt-2">
		<div class="col">
			<p class="text-center">Conferência Testing Portugal 2017 | <a href="{{ site.data.y2018.conf.privacyPolicy.link }}">{{ site.data.y2018.conf.privacyPolicy.text}}</a></p>
		</div>
	</div>
</footer>
<!-- End Footer -->