<div class="container">
    <h1 class="text-center">GALERIA</h1>
    <div class="text-center">
        <a style="cursor: pointer; width: 496px; height: 588px;"
            href="https://www.facebook.com/media/set/?set=a.715577108652682.1073741845.410110829199313&amp;type=1&amp;l=a9d50ee9e7"
            target="_blank"
            data-content="https://www.facebook.com/media/set/?set=a.715577108652682.1073741845.410110829199313&amp;type=1&amp;l=a9d50ee9e7"
            data-type="external" rel="nofollow" id="comp-jb20g6arlink" class="ca1link">
            <img alt="gallery image" src="{{'/img/gallery_thumbnail.webp' | prepend: site.data.y2017.conf.baseurl}}">

        </a>
    </div>

</div>
<hr>