<div class="container">
    <div class="row">
        <h1 style="color:#37B34A; font-size:22px; font-weight: bold">GALERIA</h1>
    </div>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in site.data.y2017.gallery %}
            <div class="carousel-item {% if site.data.y2017.gallery.first == image %} active {% endif %}">
                <img src="{{image}}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr>