<section id="hero">
    <div class="container-fluid pl-0 pr-0">
        <img width="100%" src="{{site.data.y2017.conf.heroImage | prepend: site.data.y2017.conf.baseurl}}">
        <img class="hero-text" src="{{site.data.y2017.conf.titleImage | prepend: site.data.y2017.conf.baseurl}}">
        <div class="container text-justify mt-2">
            <h1 class="text-center">O TESTING PORTUGAL ESTÁ DE VOLTA!</h1>
            <p>A <strong>PSTQB – Associação Portuguesa de Testes de Software</strong> realizou, no passado dia <strong>28 de Novembro</strong>, no ALTIS Grand Hotel, em Lisboa, a 8ª edição da Conferência Testing Portugal.</p>
            <p>A Conferência contou com intervenções de reconhecidos especialistas nacionais e internacionais e com a apresentação de casos de excelência.</p>
            <p>A área de Testes acompanha a indústria de software na evolução e adaptação a novos paradigmas. A Conferência Testing Portugal proporcionou oportunidade, para muitos única, de acesso ao conhecimento disponibilizado por alguns dos internacionalmente reconhecidos e conceituados gurus da área de testes.</p>
            <p>O objetivo da Conferência foi o de permitir que profissionais focados na qualidade do seu software possam trocar experiências com alguns dos maiores gurus internacionais, conhecer as novas tendências na área para melhor se prepararem para as acolher e partilhar as suas próprias experiências pessoais com a comunidade.</p>
            <p>A Conferência é dirigida a todos os profissionais envolvidos na Garantia da Qualidade do Software, desde o Software Tester, passando pelo Test Manager, até ao próprio decisor – CEO e CIO.</p>
            <p>Estiveram presentes um variado leque de empresas, representativas do nosso tecido empresarial em todas as suas vertentes: geográfica – de Braga a Lisboa, passando por Coimbra; área de negócio – Financeiro, Administração Pública, Telecomunicações e Media, Manufactura e Distribuição, e outros;dimensão (pequenas, médias e grandes empresas); de empresas já estabelecidas no mercado a start-ups.</p>
            <p>A conferência foi aberta a clientes finais bem como a prestadores de serviços.</p>​
        </div>
    </div>
</section>